ion-toolbar {
    --background: white !important;
}

ion-content {
    --background: rgb(247, 247, 247) !important;
}

.btn-back-position {
    position: absolute;
}

.arrow-back {
    color: black;
}

.bg-input {
    background-color: white;
}

.text-size {
    font-size: 14px;
}

.dis-currency {
    color: #a7a4a4;
}

.on-currency {
    color: black;
}