.btn-icon {
    border: 1px solid #e6e6e6;
    width: 6.5rem;
    height: 2.7rem;
    margin-bottom: 0.7rem;
    margin-top: 0.42rem;
  }
  ion-grid {
    margin-top: 0.5rem;
    background-color: white;
  }
  ion-content {
    --padding-top: -100px !important;
    --background: rgb(241, 235, 235) !important;
  }