ion-grid {
    background-color: white;
}

.font-title {
    margin-bottom: 0px;
}

.font-title-content {
    font-size: 12px;
}

.online_title {
    margin-bottom: 0px;
}

.online_subtitle {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    color: lightslategrey;
}

.debit-image {
    width: 30%;
}

.offline_title {
    margin-bottom: 0px;
}