.stylefont {
    font-weight: bold;
}

.font-total-footter {
    font-size: 15px;
}

.footterfont2 {
    font-size: 18px;
    color: #ff4800;
    font-weight: bold;
}

.credit-use {
    font-size: 13px;
    font-weight: 100;
}

.amount-pay {
    margin-top: 17px;
}

.border-footer {
    border-bottom: 1px solid;
}