.vouchertitle {
  font-size: 10px;
}
.voucher {
  font-weight: bold;
}
.vou {
  font-weight: bold;
}
.voucherbutton {
  font-size: 16px;
  background-color: tomato;
}
.btnspan {
  color: aliceblue;
}
