ion-grid {
    margin-top: 0rem;
    background-color: white;
    margin-bottom: 10px;
}

.total {
    font-size: 15px;
    color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
}

.textright {
    text-align: right;
}

.orders {
    margin-left: 102px;
    font-weight: bold;
}

.orders2 {
    font-weight: bold;
}

.orders3 {
    margin-left: 109px;
    font-weight: bold;
}