<ion-header>
  <ion-toolbar>
    <ion-buttons mode="ios" slot="start" (click)="onBackClick()">
      <ion-button>
        <ion-icon mode="ios" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ยอดเงินปัจจุบัน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="content-header-style">
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-avatar class="profile-pic">
        <img [src]="accountData.profileImageURL">
      </ion-avatar>
    </ion-col>
  </ion-row>

  <ion-row class="row-margin">
    <ion-col size="6">
      <p>
        จำนวนเงินที่ถอน
      </p>
      <ion-text class="amount-withdraw">
        {{currentamountData.withdrawamount}}
      </ion-text>

    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" class="btn-morecash">เพิ่มรางวัลเงินสด</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-grid class="list-shadow">
        <ion-row>
          <ion-col size="6">
            <p>
              ยอดเงินทั้งหมดที่เคยมี
            </p>
            <p>
              {{currentamountData.totalamount}}
            </p>
          </ion-col>
          <ion-col size="6">
            <p>
              การถอนเงิน
            </p>
            <p>
              {{currentamountData.withdrawmoney}}
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <p>
              เพื่อนที่ลงทะเบียนเเล้ว
            </p>
            <p>
              {{currentamountData.friendregistered}}
            </p>
          </ion-col>
          <ion-col size="6">
            <p>
              เพื่อนที่สมัครเครดิตเเล้ว
            </p>
            <p>
              {{currentamountData.friendcredit}}
            </p>
          </ion-col>
        </ion-row>


      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-grid class="list-shadow ion-text-center">
        <ion-row>
          <ion-col size="4">
            <p>
              test1
            </p>
            <p>
              ชวนเพื่อนเพิ่ม
            </p>
          </ion-col>
          <ion-col size="4">
            <p>
              test2
            </p>
            <p>
              การถอนเงิน
            </p>
          </ion-col>
          <ion-col size="4">
            <p>
              test3
            </p>
            <p>
              รายชื่อเพื่อน
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <p>
              test4
            </p>
            <p>
              รายละเอียดรางวัลเงินสด
            </p>
          </ion-col>
          <ion-col size="4">
            <p>
              test5
            </p>
            <p>
            บันทึกเงินรางวัล
            </p>
          </ion-col>
          <ion-col size="4">
            <p>
              test6
            </p>
            <p>
              รายละเอียดการถอนเงิน
            </p>
          </ion-col>
        </ion-row>


      </ion-grid>
    </ion-col>
  </ion-row>
</ion-content>