.content-header-style {
    // background-image: url('../../assets/images/credit/creditHead.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    // margin-top: -45px;
    padding-top: 110px;
    padding-bottom: 65px;
    position: relative;
    top: -56px;
}

.profile-pic{
    position: absolute;
    top: -78px;
    left: 10px;
}

.list-shadow {
    background-color: white;
    box-shadow: 0px 2px 7px 1px rgb(209, 206, 209);
    padding-bottom: 0px;
    padding-top: 0px;
    width: 385px;
}

.amount-withdraw{
    font-size: 36px;
    font-weight: 500;
    margin-left: 10px;
    color:  #f25454;
}

.btn-morecash{
    width: 160px;
    height: 36px;
    position: absolute;
    right: 11px;
}

.row-margin{
    margin-top: -40px;
}

.p1-margin{
    margin-top: 1px;
    margin-left: 10px;
}

.border-bottom{
    border-bottom: 1px solid;
    border-color: lightgray;
}

.right-border{
    border-right: 1px solid;
    border-color: lightgray;
}

.img-logo{
    width: 55px;
    height: 70px;
}

.p-margin-top{
    margin-top: 1px;
}

.row-margin-top{
    margin-top: -25px;
}
