<ion-content class="ion-text-center">
  <img class="img-style" *ngIf="modalData.actionType === 'front'" src="../../../assets/images/ID-Card.png" />
  <img class="img-style" *ngIf="modalData.actionType === 'back'" src="../../../assets/images/ID-Card-1.png" />
  <img class="img-style" *ngIf="modalData.actionType === 'withme'" src="../../../assets/images/ID-Card-2.png" />

  <div class="ion-justify-content-center ion-align-items-center btn-outside" (click)="dismiss()">
    <div class="btn-inside">
    </div>
  </div>

</ion-content>

<!-- <ion-button (click)="dismiss()">dismiss</ion-button> -->