ion-card {
  -webkit-margin-start: 1px;
  margin-inline-start: 1px;
  -webkit-margin-end: 1px;
  margin-inline-end: 1px;
  background-color: #ffff;
  margin-top: 0px;
  margin-bottom: 0px;
}

ion-card-content{
  padding: .4rem;;
}

ion-card-title {
  white-space: nowrap;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

ion-card-subtitle{
  font-size: .7rem;
}

strong{
  color: #000000;
}

del{
  padding-left: .3rem;
}

span{
  font-size: 1rem;
  color: red;
}

ion-chip {
  background-color: #ff5a02;
  color: white;
}

img {
  margin-top: -20%;
}
