<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="ModalDismiss()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>รายการโปรด</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-row>
    <ion-col size="12">
      <img class="cart-img" src="https://image.flaticon.com/icons/svg/2038/2038854.svg" alt="">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p class="ion-text-center">
        คุณยังไม่มีรายการโปรด
      </p>
    </ion-col>
  </ion-row>
</div>

<h1 style="text-align: center;">สินค้าแนะนำ</h1>
<productlist [recivedata]="recommendDataList"></productlist>
</ion-content>