<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="onDismiss()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>สถานภาพสมรส</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-item>
    <ion-label>สถานภาพสมรส</ion-label>
    <ion-select placeholder="เลิือก" [(ngModel)]="marriage.marriage">
      <ion-select-option value="single">โสด</ion-select-option>
      <ion-select-option value="marry">แต่งงานแล้ว</ion-select-option>
      <ion-select-option value="separated">แยกกันอยู่</ion-select-option>
      <ion-select-option value="break">อย่าร้าง</ion-select-option>
    </ion-select>
  </ion-item> -->
  <ion-item>
    <ion-label>สถานภาพสมรส</ion-label>
    <div class="ion-align-items-center" (click)="openActionSheet()">
      <ion-text *ngIf="marriage.marriage !==''">{{marriage.marriage}}</ion-text>
      <ion-text *ngIf="marriage.marriage ===''">เลือก</ion-text>
      <ion-icon name="arrow-forward" mode="ios"></ion-icon>
    </div>
  </ion-item>

</ion-content>
<ion-button expand="full" color="primary" (click)="onFinish()">ส่ง</ion-button>