.coin-icon{
    width: 32px;
    height: 50px;
    position: absolute;
    top: 15px;
}

.list-shadow {
    background-color: white;
    box-shadow: 0px 2px 7px 1px rgb(209, 206, 209);
    padding-bottom: 0px;
    padding-top: 0px;
}

.coin-icon-sm{
    width: 20px;
    height: 18px;
    position: relative;
    bottom: -3px;
}

.ApplyForCredit{
    font-size: 16px;
    font-weight: bold;
    color: #ff4800;
    border: 1px solid;
    border-color: #ff5e20;
    height: 40px;
    width: 67px;
    margin-top: 33px;
    text-align: right;
    margin-right: 6px;
  }

.row-border{
    border-bottom: solid 1px;
    border-color: lightgray;
}

ion-content {
    --background: linear-gradient(0deg, rgb(247,247,247,1) 50%, rgba(240, 65, 65, 0.952) 89%);
    --padding-top: -55px;
  }



.header-color{
    background-color: red;
}

.coin-header{
    color: white;
}

ion-toolbar {
    --background: rgba(240, 65, 65, 0.952);
    --ion-color-base: rgba(240, 65, 65, 0.952) !important;
    color: #ffffff;
}

.arrow-back{
    color: white;
}

.detail{
    color: white;
}