<ion-header no-border>
  <ion-toolbar>
    <ion-buttons mode="ios" slot="start" (click)="onBackClick()">
      <ion-button>
        <ion-icon mode="ios" slot="icon-only" class="arrow-back" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tcoin ของฉัน</ion-title>
    <ion-buttons mode="ios" slot="end">
      <ion-button (click)="TcoinDetailModal()">
        <p class="detail">
          รายละเอียด
        </p>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
<ion-row>
  <ion-col size="12" class="ion-text-center">
    <h1 class="coin-header">
      {{mytcoinDataList.mytcoin}} <img class="coin-icon" src="https://image.flaticon.com/icons/svg/1490/1490849.svg" alt="">
    </h1>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <ion-grid class="list-shadow">
      <ion-row>
        <ion-col size="12">
          test
        </ion-col>
      </ion-row>
      
      <ion-row >
        <ion-col size="12">
          <ion-button expand="block">เช็คอิน</ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <ion-grid class="list-shadow">
      <ion-row>
        <ion-col size="6" *ngFor="let promo of mytcoinDataList.tcoinpromotion">
          <img [src]="promo.img">
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="12">
    <ion-grid class="list-shadow">
      <ion-row>
        <ion-col size="12">
          <h5 class="ion-text-center">
            Tcoin Tasks
          </h5>
        </ion-col>
      </ion-row>
      <ion-row class="row-border" *ngFor="let task of mytcoinDataList.tcointask">
        <ion-col size="9">
          <h5>
            {{task.name}}
          </h5>
          <p>
            {{task.description}}
          </p>
        </ion-col>
        <ion-col size="3">
          <ion-buttons *ngIf="task.point">
            <ion-button class="ApplyForCredit" >
              <ion-text>+{{task.point}}<img class="coin-icon-sm" src="https://image.flaticon.com/icons/svg/1490/1490849.svg"></ion-text>
            </ion-button>
          </ion-buttons>

          <ion-buttons *ngIf="!task.point">
            <ion-button class="ApplyForCredit" >
              <ion-text>Check in</ion-text>
            </ion-button>
          </ion-buttons>

        </ion-col>




      </ion-row>
    </ion-grid>
  </ion-col>
</ion-row>

<h1 style="text-align: center;">สินค้าแนะนำ</h1>
<productlist [recivedata]="recommendDataList"></productlist>

</ion-content>
