.img-logo{
    width: 135px;
    height: 155px;
    margin-top: -35px;
    margin-bottom: -65px;
}

.app-version{
    margin-top: -28px;
}

.app-description{
    position: absolute;
    bottom: 1px;
}

