<ion-header>
  <ion-toolbar class="toolbartop">
    <ion-searchbar slot="start" value="Ionic"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ios-chatboxes"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="3" class="ion-no-padding">
      <div scrollY="true" class="menu-content">
        <ion-row *ngFor="let item of data.cate_data" [id]="item._id" [class.mnu-selected]="item._id == tabSelected">
          <ion-col size="12" text-center (click)="onMenuClick(item._id)">
            <ion-icon [src]="item.icon" class="icon-menu"></ion-icon>
            <p class="ion-text-nowrap menutext">{{item.name}}</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>

    <ion-col size="9" class="ion-no-padding">
      <ion-content #content>
        <ion-row *ngFor="let cate of data.cate_data">
          <ion-col size="12">
            <ion-text [id]="cate._id">{{cate.name}}</ion-text>
            <ion-slides pager>
              <ion-slide *ngFor="let cover of cate.cover_image">
                <img class="coverimage" [src]="cover.image" (click)="onCoverClick(cover._id)">
              </ion-slide>
            </ion-slides>
            <ion-row>
              <ion-col size="4" *ngFor="let brand of cate.brands" (click)="onBrandClick(cate._id,brand._id)">
                <img class="brand" [src]="brand.image">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-center size="4" *ngFor="let product of cate.products" (click)="onPromotionClick(product._id)">
                <img class="productimage" [src]="product.image">
                <ion-text class="producttext">{{product.name}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-content>
    </ion-col>
  </ion-row>
</ion-content>