<ion-header>
  <ion-toolbar>
    <ion-searchbar class="searchbar-padding" slot="start" placeholder="Enter item keyword"></ion-searchbar>
    <ion-buttons class="btn-icon-padding" slot="end">
      <ion-button>
        <ion-icon color="medium" mode="ios" slot="icon-only" src="https://image.flaticon.com/icons/svg/126/126501.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="mnu-default">
    <ion-col size="2" class="ion-no-padding">
      <div scrollY="true" class="menu-content">
        <ion-row *ngFor="let item of data" [class.mnu-selected]="item._id == tabSelected" id="mnu_{{item._id}}">
          <ion-col size="12" text-center (click)="onMenuClick(item._id)">
            <ion-icon [src]="item.image" class="icon-menu"></ion-icon>
            <p class="ion-text-nowrap menutext">{{item.name}}</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>

    <ion-col size="10" class="ion-no-padding">
      <ion-content #content>
        <ion-row *ngFor="let cate of data; let i = index;" [id]="cate._id">
          <ion-col size="12">
            <ion-text>{{cate.name}}</ion-text>
            <ion-slides pager>
              <ion-slide *ngFor="let cover of cate.cover_image; let j = index;">
                <img class="coverimage" [src]="cover.image" (click)="onCoverImageClick(cover.id,i,j)">
              </ion-slide>
            </ion-slides>
            <ion-row>
              <ion-col size="4" *ngFor="let brand of cate.brands" (click)="onBrandClick(cate._id,brand._id)">
                <img class="brand" [src]="brand.image">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col text-center size="4" *ngFor="let item of cate.items" (click)="onPromotionClick(item._id)">
                <img class="productimage" [src]="item.image">
                <ion-text class="producttext">{{item.name}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-content>
    </ion-col>
  </ion-row>
</ion-content>