.mnu-selected {
  border-left: 3px solid #f10808 !important;
  color: #f10808 !important;
}
.mnu-default {
  color: #8c8c8c !important;
}
.product {
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 2px;
  margin-top: 8px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
}
.coverimage {
  padding-top: 15px;
}
.menutext {
  font-size: 10px;
}
.productimage {
  display: block;
  width: 100%;
  height: 80%;
}
.producttext {
  font-size: 10px;
}
.textconten {
  font-weight: bold;
  padding-top: 5%;
}

.searchbar-padding {
  padding-top: 15px;
}
.btn-icon-padding {
  padding-top: 10px;
}

.icon-menu {
  font-size: 2rem;
}

.menu-content {
  height: 90vh;
  overflow: auto;
  background-color: #ededed;
}

.brand {
  background-color: #ededed;
}
