.btn-center {
  display: flex;
  justify-content: center;
  height: 40px;
}
.opinion {
  color: black;
  font-size: 13px;
}
.add-cart {
  background-color: #b5b4b2;
}
.butcolor {
  color: antiquewhite;
}
.buy {
  background-color: orangered;
}