<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="btn-back-position" mode="ios" slot="start" (click)="goBackClick()">
      <ion-button>
        <ion-icon mode="ios" slot="icon-only" class="arrow-back" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">การชำระหนี้ในปัจจุบัน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-margin-top ion-margin-start ion-margin-end card-style" *ngFor="let item of data">
    <ion-col class="col-left" size="8">
      <div>
        {{item.log_currency}}{{item.log_price}}
      </div>
      <div class="price-position">
        {{item.log_date}} {{item.log_time}}
      </div>
    </ion-col>
    <ion-col class="col-right" size="4">
      <div class="status-position">
        {{item.log_status}}
      </div>
    </ion-col>
  </ion-row>
</ion-content>