<ion-header>
  <ion-toolbar>
    <ion-buttons class="backbutton" slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon slot="icon-only" mode="ios" name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tcoin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="tcoin">
    <ion-col size="12">
      <p> Tcoin สามารถใช้ในการสั่งซื้อ, <code>100</code>Tcoin = 1THB. หลังจากที่คุณยืนยันการรับ Tcoin
        จะถูกส่งไปยังบัญชีของคุณ </p>
    </ion-col>
  </ion-row>
</ion-content>