<ion-header>
  <ion-toolbar>
    <ion-buttons mode="ios" slot="start" (click)="onBackClick()">
      <ion-button>
        <ion-icon mode="ios" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ข้อมูลของฉัน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item (click)="onOpenCamera()">
      <span class="margin-avatar">
        <ion-avatar slot="start">
          <img [src]="meData.profileimg">
        </ion-avatar>
      </span>
      <span class="ion-padding-start">
        <ion-label>รูปโปรไฟล์</ion-label>
      </span>
      <ion-buttons mode="ios" slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-forward" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="nicknameModal()">
      <ion-label>ชื่อเล่น</ion-label>
      <p>{{meData.nickname}}</p>
      <ion-buttons mode="ios" slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-forward" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="phoneModal()">
      <ion-label>หมายเลขโทรศัพท์</ion-label>
      <p>{{meData.phone}}</p>
      <ion-buttons mode="ios" slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-forward" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="addresslModal()">
      <ion-label>ที่อยู่จัดส่ง</ion-label>
      <ion-buttons mode="ios" slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-forward" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="socialModal()">
      <ion-label>บัญชีโซเชียลมีเดีย</ion-label>
      <ion-buttons mode="ios" slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-forward" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="passwordModal()">
      <ion-label>รหัสผ่านเข้าสู่ระบบ</ion-label>
      <p>เเก้ไข</p>
      <ion-buttons mode="ios" slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-forward" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="creditPointModal()">
      <ion-label>สมัครวงเงิน</ion-label>
      <p>ผ่าน</p>
      <ion-buttons mode="ios" slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-forward" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="onOpenCreditInfoPage()">
      <ion-text>ข้อมูลเพิ่มเติม</ion-text>
      <ion-buttons mode="ios" slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-forward" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>