ion-card {
    margin: 0px;
    margin-bottom: 8px;
    background-color: white;
  }

.more {
    --padding-start: 1.5rem !important;
  }

.icon {
    height: 32px;
    width: 32px;
  }

.font-13 {
    font-size: 13px;
  }

.title-font {
    margin-left: 0.5rem;
    margin-top: 4px;
    font-size: 18px;
    margin-bottom: 5px;
  }