<ion-header>
  <ion-toolbar>
    <ion-buttons class="backbutton" slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon slot="icon-only" name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>สเปค</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="4">
      <img [src]="SpecificationData.image">
    </ion-col>
    <ion-col size="8">
      <h3 class="pri">
        {{SpecificationData.currency}}
        {{SpecificationData.price}}
      </h3>
      <span class="ti">
        {{SpecificationData.currency}}
        {{SpecificationData.period}}
      </span>
      <span class="unit">
        {{SpecificationData.unit}}
        {{SpecificationData.per}}
      </span>
      <p class="name">{{SpecificationData.name}}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <h3>Color</h3>
      <ion-row *ngIf="SpecificationData.selectcolor && SpecificationData.selectcolor.length">
        <ion-col class="selectcolor" size="4" text-center 
        *ngFor="let item of SpecificationData.selectcolor"
        [class.ion-col-border]="item._id == specColorSelected" (click)="onspecColorClick(item._id)">
        <ion-icon class="ion-item-percenselected" name="checkbox" *ngIf="item._id == specColorSelected"></ion-icon>
          {{item.color}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <h3>Version</h3>
      <ion-row *ngIf="SpecificationData.selectversion && SpecificationData.selectversion.length">
        <ion-col class="selectcolor" size="6" text-center 
        *ngFor="let itemver of SpecificationData.selectversion"
        [class.ion-col-border]="itemver._id == specVertionSelected" (click)="onspecVertionClick(itemver._id)">
        <ion-icon class="ion-item-unitselected" name="checkbox" *ngIf="itemver._id == specVertionSelected"></ion-icon>
          {{itemver.version}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <div>
        <span>
          <h3>{{SpecificationData.quantity}}</h3>
        </span>
      </div>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6" class="add-cart">
        <ion-buttons>
          <ion-button class="butcolor">
            เพิ่มใส่รถเข็น
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="6" class="buy">
        <ion-buttons>
          <ion-button class="butcolor">
            ซื้อทันที
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>