// .per {
//     background-color: #fff5f1;
//     line-height: 2.5rem;
//     padding: 0 0.16rem;
//     color: #333;
//     font-size: 0.9rem;
//     margin-right: 0.9rem;
//     margin-bottom: 0.24rem;
//     white-space: nowrap;
//   }
.selectcheck {
    background-color: #fff5f1;
    line-height: 2.5rem;
    margin-left: 6%;
}
.font-selectcheck {
    font-size: 18px;
    font-weight: bold;
  }
  