.address {
    margin-top: -1%;
}

.nameaddress {
    margin-top: -9%;
}

.user {
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.phoneprice {
    font-size: 14px;
    color: white;
}

.arrow-forward {
    position: absolute;
    right: -18px;
    bottom: -45px;
    color: #fdf9f9;
}