<ion-header>
  <ion-toolbar>
    <ion-buttons class="backbutton" slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon slot="icon-only" mode="ios" name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ผ่อนชำระ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <span class="pri">
        {{paymentData.installment_price_text}}
      </span>
      <span class="unit">x</span>
      <span class="unit">
        {{paymentData.periods_lists}}
      </span>
      <span class="unit">เดือน</span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-item" size="12">
      <ion-item-divider lines="none">
        <ion-row>
          <ion-col size="12">
            <ion-row>
              <ion-col size="12">
                <span>
                  เงินดาวน์
                </span>
                <span class="subdow">
                  {{paymentData.down_payment_text}}
                </span>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <span>
                  จ่ายรายเดือน
                </span>
                <span class="subdow">
                  {{paymentData.installment_price_text}}
                </span>
                <span>
                  (inc.service free)
                </span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item-divider>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-dow" size="12">
      <ion-text>อัตราส่วนการชำระเงินดาวน์</ion-text>
      <ion-row class="top" *ngIf="paymentData.down_payment_lists && paymentData.down_payment_lists.length">
        <ion-col class="pay" size="3" *ngFor="let item of paymentData.down_payment_lists"
          [class.ion-col-border]="item == percenSelected" (click)="onPercenClick(item)">
          <ion-icon class="ion-item-percenselected" name="checkbox" *ngIf="item == percenSelected"></ion-icon>
          <span class="font-size">{{item}}%</span>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-text>จำนวนเดือน</ion-text>
      <ion-row class="top" *ngIf="paymentData.periods_lists && paymentData.periods_lists.length">
        <ion-col class="per" size="3" *ngFor="let item of paymentData.periods_lists"
          [class.ion-col-border]="item == unitSelected" (click)="onUnitClick(item)">
          <ion-icon class="ion-item-unitselected" name="checkbox" *ngIf="item == unitSelected"></ion-icon>
          <span class="font-size">{{item}}เดือน</span>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-grid class="grid-footter">
    <ion-buttons class="btn-center" (click)="onPayClick()">
      <ion-button class="btn-footer">จ่ายเป็นงวด</ion-button>
    </ion-buttons>
  </ion-grid>
</ion-footer>