<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBackClick()">
      <ion-button>
        <ion-icon slot="icon-only" mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>productdetail</ion-title>
    <ion-buttons slot="end" (click)="onCartClick(productdetailData._id)">
      <ion-button>
        <ion-icon mode="ios" name="ios-cart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="presentPopover($event)">
      <ion-button>
        <ion-icon mode="ios" name="ios-more"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="12">
      <app-product-slide [recivedata]="productdetailData.images"></app-product-slide>
    </ion-col>
  </ion-row>

  <app-product-general-info [recivedata]="productdetailData">
    <app-product-payment class="primary" [recivedata]="paymentData" (openPayment)="openPaymentModal()">
    </app-product-payment>
    <app-product-share class="secondary" (openShare)="openShareModal()"></app-product-share>
  </app-product-general-info>

  <app-product-benefit>
    <app-product-voucher class="one" [recivedata]="vouchersData" (openVoucher)="openVoucherModal()">
    </app-product-voucher>
    <app-product-gift class="two" [recivedata]="promotiongiftData" (openpromotionGift)="openpromotionGiftModal()">
    </app-product-gift>
    <app-product-tcoin class="three" [recivedata]="tcoinData" (openTcoin)="openTcoinModal()"></app-product-tcoin>
  </app-product-benefit>

  <ion-row>
    <ion-col size="12">
      <ion-grid>
        <app-product-service [recivedata]="warrantyData" (openService)="openServiceModal()"></app-product-service>
        <app-product-spec [recivedata]="specificationData" (openSpec)="openSpecModal()"></app-product-spec>
      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <app-product-reviews [recivedata]="reviewData" (openReviews)="openReviewsModal()"></app-product-reviews>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <app-product-imformation-spec (openImformationSpec)="openImformationSpecModal()"></app-product-imformation-spec>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <app-product-detail [recivedata]="productdetailData"></app-product-detail>
    </ion-col>
  </ion-row>

  <app-product-warranty [recivedata]="productwarrantyData"></app-product-warranty>

  <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col size="4" text-end>
          <img class="iconimg" src="https://image.flaticon.com/icons/png/512/2152/2152407.png">
        </ion-col>
        <ion-col size="4">
          <h1 class="producttext" text-center>แนะนำ</h1>
        </ion-col>
        <ion-col size="4" text-start>
          <img class="iconimg" src="https://image.flaticon.com/icons/png/512/2152/2152407.png">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <app-product-list *ngFor="let reccomment of reccommentData" [recivedata]="reccomment.products"
    (onProductClick)="onProductClick($event)"></app-product-list>

</ion-content>

<footer [recivedata]="productdetailData"></footer>