.btn-icon {
  border: 1px solid #e6e6e6;
  width: 6.5rem;
  height: 2.7rem;
  margin-bottom: 0.7rem;
  margin-top: 0.42rem;
}

.payment {
  position: relative;
  box-sizing: border-box;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding: 0 1.2rem 0 1.2rem;
}

.pri {
  font-weight: bold;
  font-size: 34px;
  color: orangered;
  padding-left: 2%;
  margin-bottom: 0px;
}
.titlewar {
  color: #000000;
  line-height: 1.5;
  font-weight: bold;
  margin-bottom: 5px;
}
.subtitlewar {
  margin-top: 0%;
}

.sc-ion-card-ios-h {
  margin-left: unset;
  margin-right: unset;
  margin-top: 0px;
  margin-bottom: 10px;
}
.grid-top {
  margin-top: 0rem;
}
ion-grid {
  margin-top: 0.5rem;
  background-color: white;
}
ion-content {
  --padding-top: -100px !important;
  --background: rgb(241, 235, 235) !important;
}

.iconimg {
  padding-top: 15%;
  width: 30%;
}
.producttext {
  font-weight: bold;
}
.date {
  font-size: 16px;
}
.item-border-right {
  padding-left: 10px;
  padding-right: 10px;
}
.text-padding {
  padding-left: 5%;
}
.img-promotion {
  width: 70%;
}
.img-icon-star {
  width: 50%;
}
.img-review {
  width: 100%;
  height: 100%;
}

// .icon-menu {
//   text-align: right;
// }
// .ioscart {
//   padding-right: 20px;
// }
// .iosmore {
//   padding-right: 10px;
// }
