<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="onBackClick()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>setting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item (click)="onToMePage()">
      <ion-label>ข้อมูลของฉัน</ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="feedbackModal()">
      <ion-label>ความคิดเห็นเเละข้อเสนอเเนะ</ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="aboutModal()">
      <ion-label>เกี่ยวกับ App</ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item class="ion-text-center" (click)="onToLogout()">
        <ion-label color="danger">ออกจากระบบ</ion-label>
      </ion-item>

  </ion-list>
  

</ion-content>