<!-- <ion-slides pager>
  <ion-slide *ngFor="let cover of cate.cover_image; let j = index;">
    <img class="coverimage" [src]="cover.image" (click)="openImageSlide(i,j)">
  </ion-slide>
</ion-slides> -->

<!-- <ion-row *ngFor="let cate of recivedata; let i = index;" [id]="cate._id">
  <ion-col size="12">
    <ion-text>{{cate.name}}</ion-text>

    <ion-slides pager>
      <ion-slide *ngFor="let cover of cate.cover_image; let j = index;">
        <img class="coverimage" [src]="cover.image" (click)="openImageSlide(i,j)">
      </ion-slide>
    </ion-slides>
  </ion-col>
</ion-row> -->
<p>
  jjjjjjjj
</p>