<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="ModalDismiss()" mode="ios">
      <ion-button>
        <ion-icon mode="ios" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>รหัสผ่าน</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item>
    <ion-label position="floating"><h1>รหัสผ่านเข้าสู่ระบบเดิม</h1></ion-label>
    <ion-input clearInput  placeholder="โปรดกรอกรหัสผ่านเข้าสู่ระบบเดิม"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"><h1>รหัสผ่านใหม่</h1></ion-label>
    <ion-input clearInput  placeholder="ตัวอักษรที่ไม่ว่างเปล่า 6-16 บิต"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="onSavePassword()">ยืนยัน</ion-button>
</ion-content>