<ion-item no-padding class="item-border-right" (click)="openpromotionGiftModal()">
  <ion-text>โปรโมชั่น</ion-text>
  <ion-label>
    <ion-text class="text-padding">
      <ion-row>
        <ion-col size="3"
          *ngFor="let itemimage of [ promotiongiftData.promotions[0], promotiongiftData.promotions[1], promotiongiftData.promotions[2], promotiongiftData.promotions[3]]">
          <img class="img-promotion" [src]="itemimage.image">
        </ion-col>
      </ion-row>
    </ion-text>
  </ion-label>
  <ion-note text-end>
    <ion-buttons>
      <ion-button>
        <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-note>
</ion-item>