<ion-header>
  <ion-toolbar>
    <ion-buttons class="btn-icon-padding" slot="start" (click)="goBackClick()">
      <ion-button>
        <ion-icon slot="icon-only" mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar class="searchbar-padding" slot="start" placeholder="Enter item keyword"></ion-searchbar>
    <ion-buttons class="btn-icon-padding" slot="end" (click)="onCartClick()">
      <ion-button>
        <ion-icon mode="ios" name="ios-cart"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons class="btn-icon-padding" slot="end" (click)="openMenu()" main>
      <ion-button>
        <ion-icon mode="ios" name="ios-menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-search-general-brands>
    <app-search-product-type class="one" [recivedata]="searchData" (openProductType)="onCetegoryClick($event)">
    </app-search-product-type>
    <app-search-brands class="two" [recivedata]="searchData" (openBrand)="onBrandClick($event)"></app-search-brands>
    <app-search-product-tab class="three" [recivedata]="searchData"></app-search-product-tab>
  </app-search-general-brands>

</ion-content>

  <ion-menu side="end" type="push">
    <ion-header>
      <ion-toolbar color="gray">
        <ion-title>เช็คเลือก</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <app-menu-general-select-check>
        <app-menu-select-check class="four" [recivedata]="selectcheckData" (openCategories)="onCategories($event)"
        (openBrands)="onBrands($event)" (openPriceranges)="onPriceranges($event)"></app-menu-select-check>
      </app-menu-general-select-check>
    </ion-content>

    <app-footer-selectcheck [recivedata]="selectcheckData"></app-footer-selectcheck>

  </ion-menu>