<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBackClick()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar slot="start" placeholder="Enter item keyword"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="ios-chatboxes"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin-custom">
    <h6>ประเภทสินค้า</h6>
    <ion-row>
      <ion-col size="3" text-center [class.ion-col-border]="cate2._id == cate2Selected"
        *ngFor="let cate2 of searchData.categories">
        <ion-icon class="ion-item-selected" name="checkbox" *ngIf="cate2._id == cate2Selected"></ion-icon>
        <img [src]="cate2.image" (click)="onCetegoryClick(cate2._id)">
        <ion-text class="textcate">{{cate2.name}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="ion-no-margin-custom">
    <h6>แบรนด์</h6>
    <ion-row>
      <ion-col size="3" text-center [class.ion-col-border]="brand._id == brandSelected" *ngFor="let brand of searchData.brands">
        <ion-icon class="ion-item-selected" name="checkbox" *ngIf="brand._id == brandSelected"></ion-icon>
        <img class="brand" [src]="brand.image" (click)="onBrandClick(brand._id)">
      </ion-col>
    </ion-row>
  </ion-card>


  <ion-card class="ion-no-margin-collection">
    <ion-row>
      <mat-tab-group mat-align-tabs="start">
        <mat-tab *ngFor="let tabproduct of searchData.productItems" [label]="tabproduct.tabname">
          <ion-row>
            <ion-col size="6" *ngFor="let product of tabproduct.products">
              <ion-card (click)="onProductItemClick()">
                <ion-chip color="danger">
                  <ion-label>{{product.discount}}</ion-label>
                </ion-chip>
                <img [src]="product.image">
                <div>
                  <ion-text class="producttext">{{product.name}}</ion-text>
                </div>
                <div>
                  <ion-text>{{product.price.currency}} {{product.price.amount}}</ion-text>
                </div>
                <div>
                  <ion-text>{{product.installment.currency}} {{product.installment.amount}}
                    {{product.installment.period}}
                  </ion-text>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </mat-tab>
      </mat-tab-group>
    </ion-row>
  </ion-card>

</ion-content>