<ion-header>
  <ion-toolbar>
    <ion-title>search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text class="texttitle">ประเภทสินค้า</ion-text>
  <ion-row>
    <ion-col size="2" class="textcenter" *ngFor="let cate2 of searchData.condition">
      <img [src]="cate2.image" (click)="onConditionClick(cate2._id)">
      <ion-text class="textcate">{{cate2.name}}</ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <mat-tab-group mat-align-tabs="start">
      <mat-tab  *ngFor="let tabproduct of searchData.productItems" [label]="tabproduct.tabname">
          <ion-row>
              <ion-col size="6" *ngFor="let product of tabproduct.products">
                <ion-card (click)="onProductItemClick()">
                  <img [src]="product.image">
                  <div>
                    <ion-text class="producttext">{{product.name}}</ion-text>
                  </div>
                  <div>
                    <ion-text>{{product.price.currency}} {{product.price.amount}}</ion-text>
                  </div>
                  <div>
                    <ion-text>{{product.installment.currency}} {{product.installment.amount}} {{product.installment.period}}
                    </ion-text>
                  </div>
                </ion-card>
              </ion-col>
            </ion-row>
      </mat-tab>
    </mat-tab-group>
  </ion-row>

</ion-content>