ion-card {
  box-shadow: none !important;
  background-color: #ffffff;
  border-radius: 0rem;
}

ion-grid {
  margin-top: 0.5rem;
  background-color: white;
  height: 100%;
}

ion-content {
  --background: rgb(241, 235, 235) !important;
}

.ion-col-border {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

.brand {
  background-color: #ededed;
}

.ion-item-selected {
  font-size: 2rem;
  color: red;
  margin-top: -0.65rem;
  margin-left: 1rem;
  position: absolute;
}

.ion-no-margin-custom {
  --margin-start: 0;
  --margin-end: 0;
  --margin-top: 0;
  --margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.ion-no-margin-collection {
  --margin-start: 0;
  --margin-end: 0;
  --margin-top: 1rem;
  --margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.3rem;
  margin-bottom: 0;
}
.searchbar-padding {
  padding-top: 15px;
}
.btn-icon-padding {
  padding-top: 10px;
}

.textcate {
  font-size: 10px;
}
.texttitle {
  font-weight: bold;
  padding-top: 5%;
}
.producttext {
  font-weight: bold;
}
