<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="ModalDismiss()" mode="ios">
      <ion-button>
        <ion-icon mode="ios" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ศูนย์คูปอง</ion-title>
    <ion-buttons mode="ios" slot="end">
      <ion-button>
        <p>
          คูปองของฉัน
        </p>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="6">
      <img class="coupon-img" src="https://image.flaticon.com/icons/svg/411/411816.svg" alt="">
    </ion-col>
    <ion-col size="6">
      <h3 class="h3-1">
        คูปองวันนี้
      </h3>
    </ion-col>
  </ion-row>

</ion-content>