.quantity{
  font-size: 12px;
}

.footer-button {
  margin-top: 5%;
  width: 101%;
  border-radius: 5%;
}

ion-checkbox {
  height: 20px;
  width: 20px;
}

.producttext {
  font-weight: bold;
}

.icon-check {
  margin-top: 20%;
}

.installment {
  font-size: 13px;
}

.footer-pading {
  padding-top: 15px;
}

.icon-inner {
  margin-left: -1%;
  margin-bottom: -3px;
  color: rgba(0, 0, 0, 0.29);
}

.spanprice {
  font-weight: bold;
  font-size: 15px;
  color: red;
}

ion-text {
  font-size: 17px;
}

ion-grid {
  margin-top: 0.5rem;
  background-color: white;
}

ion-content {
  --padding-top: -100px !important;
  --background: rgb(241, 235, 235) !important;
}

.iconimg {
  padding-top: 15%;
  width: 30%;
}

.getcupon {
  border: 1px solid;
  border-color: rgb(194, 193, 193);
  height: 40px;
}

.buttonget {
  padding-top: 0px;
  height: 1px;
}

.buttonget2 {
  height: 40px;
  font-size: 16px;
}

.inputcupon {
  font-size: 13px;
  margin-top: -3px;
}

.reccomment {
  height: 63px;
  margin-top: -13px;
}