<ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="cartDataList.length < 1">
    <app-cart-empty></app-cart-empty>
  </div>

  <div *ngIf="cartDataList.length >= 1">
    <app-cart-by-shop [cartDataList]="cartDataList" [vouchersData]="vouchersData" [specificationData]="specificationData"></app-cart-by-shop>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="8" class="getcupon">
            <ion-input type="text" placeholder="ใส่รหัสคูปอง" class="inputcupon"></ion-input>
          </ion-col>
          <ion-col size="4" class="buttonget">
            <ion-item color="danger" disabled (click)="onAcceptCodeClick()" class="buttonget2">
              <ion-label text-center>
                รับ
              </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-row class="reccomment">
    <ion-col size="12">
      <ion-row>
        <ion-col size="4" text-end>
          <img class="iconimg" src="https://image.flaticon.com/icons/png/512/2152/2152407.png">
        </ion-col>
        <ion-col size="4">
          <h1 class="producttext" text-center>แนะนำ</h1>
        </ion-col>
        <ion-col size="4" text-start>
          <img class="iconimg" src="https://image.flaticon.com/icons/png/512/2152/2152407.png">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <app-product-list   *ngFor="let reccomment of reccommentDataList" [recivedata]="reccomment.products" (onProductClick)="onProductClick($event)"></app-product-list >
 
</ion-content>

<ion-footer *ngIf="cartDataList.length > 0">
  <ion-row *ngIf="TotalCartDataList">
    <ion-col size="9">
      <ion-row>
        <ion-col size="2">
          <span>
            <ion-checkbox class="icon-check" color="danger" mode="ios" (click)="onSelectAll()"></ion-checkbox>
          </span>
        </ion-col>
        <ion-col size="3" class="footer-pading">
          <ion-text>ทั้งหมด</ion-text>
        </ion-col>
        <ion-col size="7">
          <span>
            ยอดรวม:
          </span>
          <span class="spanprice">
            {{TotalCartDataList.currency}} {{TotalCartDataList.total_regularprice_text}}
          </span>
          <span class="installment">
            {{TotalCartDataList.currency}}{{TotalCartDataList.installment_price_text}}
            {{TotalCartDataList.installment_period}}
            <ion-icon class="icon-inner" mode="ios" name="arrow-forward" (click)="InstallmentModal()"></ion-icon>
          </span>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="3">
      <ion-item lines="none" (click)="onPayClick()" class="footer-button" color="warning">
        <ion-label text-center>
          <span class="quantity">
            ชำระ({{TotalCartDataList.amount_product}})
          </span>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-footer>