<ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>



<ion-footer *ngIf="cartDataList">
  <ion-row *ngFor="let cate of cartDataList">
    <ion-col size="9">
      <ion-row>
        <ion-col size="2">
          <span>
            <ion-checkbox class="icon-check" color="danger" mode="ios" (click)="onSelectAll()"></ion-checkbox>
          </span>
        </ion-col>
        <ion-col size="3" class="footer-pading">
            <ion-text>ทั้งหมด</ion-text>
        </ion-col>
        <ion-col size="7">
          <span>
            ยอดรวม:
          </span>
          <span *ngFor="let cate of cate.product" class="spanprice">
            {{cate.currency}}{{cate.price}}
          </span>
          <span  *ngFor="let cate of cate.product" class="installment">
            {{cate.installment_currency}}{{cate.installment_amount}} {{cate.installment_period}}
            <ion-icon class="icon-inner" mode="ios" name="arrow-forward" (click)="InstallmentModal()"></ion-icon>
          </span>
          
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="3" *ngFor="let cate of cate.product">
     <ion-item (click)="onPayClick()" class="footer-button" color="warning">
    <ion-label text-center>
        <span class="quantity">
            ชำระ({{cate.amount_product}})
          </span>
    </ion-label>
  </ion-item>
    </ion-col>
  </ion-row>
</ion-footer>

<!-- <ion-footer *ngIf="cartDataList">
  <ion-row *ngFor="let cate of cartDataList">
    <ion-col size="9">
      <ion-row>
        <ion-col size="2">
          <span>
            <ion-checkbox class="icon-check" color="danger" mode="ios" (click)="onSelectAll()"></ion-checkbox>
          </span>
        </ion-col>
        <ion-col size="10">
          <span class="select">
            ยอดรวมทั้งหมด:
          </span>
          <span class="phoneprice" *ngFor="let cate of cate.product">
            {{cate.currency}}{{cate.price}}
          </span>
          <span class="select" *ngFor="let cate of cate.product">
            {{cate.installment_currency}}{{cate.installment_amount}}
          </span>
          <span class="quantity" *ngFor="let cate of cate.product">
            {{cate.installment_period}}
          </span>
          <ion-icon mode="ios" name="arrow-forward" (click)="InstallmentModal()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="3">
      <ion-button (click)="onPayClick()" class="footer-button" color="warning">
        <span class="quantity">
          ชำระ ({{cate.amount_product}})
        </span>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer> -->