.chip {
  margin-bottom: -7%;
}

.footter-font {
  font-size: 13px;
}

.footer-button {
  margin-top: 5%;
  width: 101%;
  border-radius: 5%;
}

ion-checkbox {
  height: 20px;
  width: 20px;
}

.span-title {
  padding-left: 6px;
}

.select {
  font-size: 15px;
  font-weight: bold;
}

.icon {
  margin-top: -3px;
  margin-right: 4px;
}

.producttext {
  font-weight: bold;
}

.iconcart {
  padding-inline-start: 5%;
}

.phonename {
  font-size: 14px;
  font-weight: bold;
}

.quantity {
  font-size: 12px;
  // background-color: rgba(228, 228, 228, 0.4);
  padding: 4px;
}

.arrow-down {
  color: rgb(173, 173, 173);
  position: relative;
  top: 2px;
  padding-left: 5px;
}

.phoneprice {
  font-weight: bold;
  font-size: 15px;
  color: red;
}

.icon-check {
  margin-top: 20%;
}

.installment {
  font-size: 13px;
}

.footer-pading {
  padding-top: 15px;
}

.icon-inner {
  margin-left: -1%;
  color: rgba(0, 0, 0, 0.29);
}

.spanprice {
  font-weight: bold;
  font-size: 15px;
  color: red;
}

ion-text {
  font-size: 12px;
}

ion-grid {
  margin-top: 0.5rem;
  background-color: white;
}

ion-content {
  --padding-top: -100px !important;
  --background: rgb(241, 235, 235) !important;
}

.iconimg {
  padding-top: 15%;
  width: 30%;
}

ion-chip {
  background-color: #ff5b02;
  color: white;
  width: 37px;
  height: 17px;
  padding: 0px;
  position: absolute;
  top: 2%;
}

icon-checkbox {
  width: 21px;
  height: 22px;
}

.shopcupon {
  font-size: 13px;
  color: rgb(173, 173, 173);
  position: absolute;
  right: 5px;
}

.discount {
  font-size: 8px;
}

.border {
  border-bottom: 1px solid;
  border-color: rgb(194, 193, 193);
  ;
  height: 44px;
}

.btn-right-position {
  position: absolute;
  right: 0px;
}

.btn-size {
  background-color: #b0b0b03b;
  height: 20px;
  font-weight: bold;
  color: #8a8686;
  width: 27px;
  position: relative;
  top: -5px;
}

.icon-size {
  position: absolute;
}

.num-size {
  display: inline-block;
  width: 20px;
  text-align: center;
  font-size: 12px;
}

.disprice {
  position: relative;
  top: -3px;
}

.getcupon {
  border: 1px solid;
  border-color: rgb(194, 193, 193);
  height: 40px;
}

.buttonget {
  padding-top: 0px;
  height: 1px;
}

.buttonget2 {
  height: 40px;
  font-size: 16px;
}

.inputcupon {
  font-size: 13px;
  margin-top: -3px;
}

.reccomment {
  height: 63px;
  margin-top: -13px;
}