.chip {
  margin-bottom: -7%;
}
.footter-font {
  font-size: 13px;
}
.footer-button {
  margin-top: 15%;
}
.select {
  font-size: 18px;
  font-weight: bold;
}
.icon {
  padding-right: 0.5rem;
  padding-bottom: 0.3rem;
}
.producttext {
  font-weight: bold;
}
.iconcart {
  padding-inline-start: 5%;
}
.phonename {
  font-size: 18px;
}
.quantity {
  font-size: 14px;
}
.phoneprice {
  font-size: 18px;
}
.icon-check {
  margin-top: 35%;
}
ion-grid {
  margin-top: 0.5rem;
  background-color: white;
}
ion-content {
  --padding-top: -100px !important;
  --background: rgb(241, 235, 235) !important;
}
.iconimg {
  padding-top: 15%;
  width: 30%;
}
