.list-shadow {
    background-color: white;
    box-shadow: 0px 2px 7px 1px rgb(209, 206, 209);
    padding-bottom: 0px;
    padding-top: 0px;
}

.row-border{
    border-bottom: solid 1px;
    border-color: lightgray;
}

.tcoin-p1{
    margin-bottom: -20px;
}

.tcoin-logo{
    width: 25px;
    height: 25px;
}

.tcoin-p2{
    margin-bottom: -25px;
}

.bg{
    background-color: rgba(240, 65, 65, 0.952);
}

.grid{
    width: 378px;
    border-radius: 5px;
    margin-top: -15px;
}

.header-p-color{
    color: white;
}

.margin-p-content-detail{
    margin-top: 8px;
    margin-bottom: -10px;
    font-weight: bold;
}

.margin-p-content-time{
    margin-bottom: 10px;
}

.margin-p-content-point{
    position: absolute;
    right: 15px;
    color: rgba(240, 65, 65, 0.952);
}

