<ion-header>
  <ion-toolbar>
    <ion-title>ข้อมูลผู้ติดต่อ</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label class="label-size">หมายเลขโทรศัพย์ใหม่ 1</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="label-size">หมายเลขโทรศัพย์ใหม่ 2</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label class="label-size">หมายเลขโทรศัพย์บ้าน</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-content>
<ion-button expand="full" color="secondary" (click)="onFinish()">เรียบร้อย</ion-button>