<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBackClick()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>gifts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" *ngFor="let itemproduct of giftsData.productdetail">
      <ion-card>
        <ion-slides pager [options]="slideOpts">
          <ion-slide *ngFor="let itemimg of itemproduct.images">
            <img [src]="itemimg">
          </ion-slide>
        </ion-slides>
      </ion-card>

      <ion-card>
        <ion-row>
          <ion-col size="12">
            <h1 class="pri">{{itemproduct.currency}} {{itemproduct.price}}</h1>
          </ion-col>
        </ion-row>

        <ion-card class="payment">
          <ion-row>
            <ion-col size="12">
              <ion-item (click)="paymentgiftModal()">
                <ion-label>
                  <span>
                    {{PaymentgiftData.selected.down_amount.currency}}
                    {{PaymentgiftData.selected.period_amount.amount_period}}
                  </span>
                  <span>
                    {{PaymentgiftData.selected.period_amount.period}}
                    {{PaymentgiftData.selected.period_amount.per}}
                  </span>
                </ion-label>
                <ion-buttons slot="end">
                  <ion-button>
                    <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-card>
        <ion-row>
          <ion-col size="12">
            <h4 class="titlewar">{{itemproduct.name}}</h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-buttons class="btn-two">
              <ion-button class="btn-icon">
                <ion-icon name="star"></ion-icon>
              </ion-button>
              <ion-button class="btn-icon">
                <ion-icon name="heart"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card>
        <ion-row>
          <ion-col size="12">
            <ion-item (click)="tcoingiftModal()">
              <ion-label>
                Tcoin
              </ion-label>
              <ion-label>
                {{TcoingiftData.Tcoinname}}
              </ion-label>
              <ion-buttons slot="end">
                <ion-button>
                  <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card>
        <ion-row>
          <ion-col size="12">
            <ion-item (click)="warrantygiftModal()">
              <ion-label>
                บริการ
              </ion-label>
              <ion-label *ngFor="let items of WarrantygiftData">
                <ion-text *ngFor="let item of items.warranties">{{item.title}}</ion-text>
              </ion-label>
              <ion-buttons slot="end">
                <ion-button>
                  <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>

            <ion-item (click)="specificationgiftModal()">
              <ion-label>
                สเปค
              </ion-label>
              <ion-label>
                {{SpecificationgiftData.color}} {{SpecificationgiftData.version}}
              </ion-label>
              <ion-buttons slot="end">
                <ion-button>
                  <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-row>
              <ion-col size="12">
                <h4>No review yet</h4>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-row>
              <ion-col size="6">
                <ion-row>
                  <ion-col size="12">
                    <h3> Share for free </h3>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="6">
                <ion-chip color="danger">
                  <ion-label class="ion-text-wrap">เยี่ยมชมแบรนด์</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-card>
        <ion-row>
          <ion-col size="12">
            <ion-item (click)="imformationSpecgiftModal()">
              <ion-label>
                ข้อมูลจำเพาะ
              </ion-label>
              <ion-buttons slot="end">
                <ion-button>
                  <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-card>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" *ngFor="let detail of giftsData.details">
      <ion-card>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-text class="titlewar">{{detail.detailname}}</ion-text>
            </ion-item>
          </ion-col>
        </ion-row>
        <img *ngFor="let item of detail.images" [src]="item">
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12" *ngFor="let warranty of giftsData.warranties">
      <ion-card>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-text class="titlewar">{{warranty.warrantyname}}</ion-text>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" *ngFor="let warranty1 of warranty.warrantiestitle">
            <ion-text class="titlewar">{{warranty1.title}}</ion-text>
            <ion-row>
              <ion-col size="12">
                <ion-text>{{warranty1.subtitle}}</ion-text>
                <p>หากมีคำถามอื่นๆ สามารถสอบถามเจ้าพนักงานได้โดยตรง</p>
              </ion-col>
            </ion-row>

          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="4">
        <ion-buttons class="btn-center" (click)="onChatClick()">
          <ion-button class="opinion">
            <ion-icon name="chatbubbles"></ion-icon>
            ฝ่ายบริการลูกค้า
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="4" class="add-cart">
        <ion-buttons class="btn-center" (click)="onCartClick()">
          <ion-button class="butcolor">
            เพิ่มใส่รถเข็น
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="4" class="buy">
        <ion-buttons class="btn-center" (click)="onPaymentClick()">
          <ion-button class="butcolor">
            ซื้อทันที
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>