.btn-icon {
  border: 1px solid #e6e6e6;
  width: 6.5rem;
  height: 2.7rem;
  margin-bottom: 0.7rem;
  margin-top: 0.42rem;
}

.pri {
  font-weight: bold;
  font-size: 34px;
  color: orangered;
  padding-left: 2%;
}
.titlewar {
  font-weight: bold;
  color: black;
  padding-left: 2%;
}
.opinion {
  color: black;
  font-size: 13px;
}
.add-cart {
  background-color: orange;
}
.buy {
  background-color: orangered;
}
.butcolor {
  color: antiquewhite;
}
.btn-center {
  display: flex;
  justify-content: center;
  height: 40px;
}

.sc-ion-card-ios-h {
  margin-left: unset;
  margin-right: unset;
  margin-top: 0px;
  margin-bottom: 10px;
}

.payment {
  position: relative;
  box-sizing: border-box;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding: 0 1.2rem 0 1.2rem;
}
.grid-top {
  margin-top: 0rem;
}
ion-grid {
  margin-top: 0.5rem;
  background-color: white;
}
ion-content {
  --padding-top: -100px !important;
  --background: rgb(241, 235, 235) !important;
}
.iconimg {
  padding-top: 15%;
  width: 30%;
}
.producttext {
  font-weight: bold;
}
.grid-footter {
  background-color: #fbfbfb;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}
.text-padding {
  padding-left: 5%;
}
.item-border-right {
  padding-left: 10px;
  padding-right: 10px;
}