.btn-icon {
  border: 1px solid #e6e6e6;
  width: 10rem;
  height: 2.7rem;
  margin-bottom: 0.7rem;
  margin-top: 0.42rem;
}
.btn-two {
  padding-left: 4%;
}
.pri {
  font-weight: bold;
  font-size: 34px;
  color: orangered;
  padding-left: 2%;
}
.titlewar {
  font-weight: bold;
  color: black;
  padding-left: 2%;
}
.opinion {
  color: black;
  font-size: 13px;
}
.add-cart {
  background-color: orange;
}
.buy {
  background-color: orangered;
}
.butcolor {
  color: antiquewhite;
}
.btn-center {
  display: flex;
  justify-content: center;
}

.sc-ion-card-ios-h {
  margin-left: unset;
  margin-right: unset;
  margin-top: 0px;
  margin-bottom: 10px;
}

.payment {
  position: relative;
  box-sizing: border-box;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding: 0 1.2rem 0 1.2rem;
}
