<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBackClick()">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>gifts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid-top">
    <ion-slides pager [options]="slideOpts">
      <ion-slide *ngFor="let itemimg of giftsData.images">
        <img [src]="itemimg">
      </ion-slide>
    </ion-slides>
  </ion-grid>

  <ion-row>
    <ion-col size="12">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <h1 class="pri">{{giftsData.currency}} {{giftsData.price}}</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-item-divider lines="none" (click)="paymentgiftModal()">
              <ion-label>
                <span>
                  {{PaymentgiftData.selected.down_amount.currency}}
                  {{PaymentgiftData.selected.period_amount.amount_period}}
                </span>
                <span>
                  {{PaymentgiftData.selected.period_amount.period}}
                  {{PaymentgiftData.selected.period_amount.per}}
                </span>
              </ion-label>
              <ion-buttons slot="end">
                <ion-button>
                  <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item-divider>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <h4 class="titlewar">{{giftsData.name}}</h4>
          </ion-col>
        </ion-row>

        <ion-item lines="none">
          <ion-buttons>
            <ion-button class="btn-icon">
              <ion-icon name="star"></ion-icon>
            </ion-button>
            <ion-button class="btn-icon">
              <ion-icon name="heart"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-grid class="grid-top">
        <ion-item lines="none" (click)="tcoingiftModal()">
          <ion-text>Tcoin</ion-text>
          <ion-label>
            <ion-text style="padding-left: 5%;">{{TcoingiftData.Tcoinname}}</ion-text>
          </ion-label>
          <ion-note slot="end">
            <ion-buttons class="btn">
              <ion-button>
                <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-note>
        </ion-item>
      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-grid>
        <ion-item (click)="warrantygiftModal()">
          <ion-text>บริการ</ion-text>
          <ion-label>
            <ion-text style="padding-left: 5%;" *ngFor="let item of WarrantygiftData.warranties">{{item.title}}</ion-text>
          </ion-label>
          <ion-note slot="end">
            <ion-buttons class="btn">
              <ion-button>
                <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-note>
        </ion-item>
        <ion-item lines="none" (click)="specificationgiftModal()">
          <ion-text>สเปค.</ion-text>
          <ion-label>
            <ion-text style="padding-left: 5%;">{{SpecificationgiftData.color}} {{SpecificationgiftData.version}}</ion-text>
          </ion-label>
          <ion-note slot="end">
            <ion-buttons class="btn">
              <ion-button>
                <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-note>
        </ion-item>
      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-grid>
        <ion-item lines="none" (click)="imformationSpecgiftModal()">
          <ion-text>ข้อมูลจำเพาะ</ion-text>
          <ion-note slot="end">
            <ion-buttons class="btn">
              <ion-button>
                <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-note>
        </ion-item>
      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-grid>
        <ion-item>
          <ion-label>
            <ion-text class="titlewar">{{giftsData.details.detailname}}</ion-text>
          </ion-label>
        </ion-item>
        <div>
          <img *ngFor="let item of giftsData.details.images" [src]="item">
        </div>
      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-grid>
        <ion-item>
          <ion-label>
            <ion-text class="titlewar">{{giftsData.warranties.warrantyname}}</ion-text>
          </ion-label>
        </ion-item>

        <ion-row>
          <ion-col size="12" *ngFor="let warranty2 of giftsData.warranties.warrantiestitle">
            <p class="titlewar">{{warranty2.title}}</p>
            <p class="subtitlewar">{{warranty2.subtitle}}</p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <p class="subtitlewar">{{giftsData.warranties.sub1}}</p>
            <p class="subtitlewar">{{giftsData.warranties.sub2}}</p>
            <p class="subtitlewar">{{giftsData.warranties.sub3}}</p>
            <p class="subtitlewar">{{giftsData.warranties.sub4}}</p>
            <p class="subtitlewar">{{giftsData.warranties.sub5}}</p>
            <p class="subtitlewar">{{giftsData.warranties.sub6}}</p>
            <p>หากมีคำถามอื่นๆ สามารถสอบถามเจ้าพนักงานได้โดยตรง</p>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col size="4" text-end>
          <img class="iconimg" src="https://image.flaticon.com/icons/png/512/2152/2152407.png">
        </ion-col>
        <ion-col size="4">
          <h1 class="producttext" text-center>แนะนำ</h1>
        </ion-col>
        <ion-col size="4" text-start>
          <img class="iconimg" src="https://image.flaticon.com/icons/png/512/2152/2152407.png">
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <productlist [recivedata]="ReccommentData"></productlist>
</ion-content>

<ion-footer>
  <ion-grid class="grid-footter">
    <ion-row>
      <ion-col size="4">
        <ion-buttons class="btn-center" (click)="onChatClick()">
          <ion-button class="opinion">
            <ion-icon name="chatbubbles"></ion-icon>
            ฝ่ายบริการลูกค้า
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="4" class="add-cart">
        <ion-buttons class="btn-center" (click)="onCartClick(giftsData._id)">
          <ion-button class="butcolor">
            เพิ่มใส่รถเข็น
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="4" class="buy">
        <ion-buttons class="btn-center" (click)="onPaymentClick(giftsData._id)">
          <ion-button class="butcolor">
            ซื้อทันที
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>