<ion-row class="border">
  <ion-col size="8" class="ion-align-items-center">
    <ion-checkbox color="danger" mode="ios"></ion-checkbox>
    <span class="span-title ion-align-items-center" (click)="onSelectShop(cartData.shop.shop_id)">
      <ion-icon name="md-appstore" class="icon"></ion-icon>
      <ion-label class="select">{{cartData.shop.shop_name}}</ion-label>
    </span>
  </ion-col>
  <ion-col size="4" class="ion-align-items-center">
    <ion-label class="shopcupon" (click)="vouchersModal()">กดรับคูปอง</ion-label>
  </ion-col>
</ion-row>

<ion-item-sliding *ngFor="let item of cartData.items; let j = index;">
  <app-cart-by-shopitem *ngIf="cartData" [itemData]="item" [specificationData]="specificationData">
  </app-cart-by-shopitem>
</ion-item-sliding>