icon-checkbox {
    width: 21px;
    height: 22px;
}

.border {
    border-bottom: 1px solid;
    border-color: rgb(194, 193, 193);
    height: 44px;
}

.span-title {
    padding-left: 6px;
}

.select {
    font-size: 15px;
    font-weight: bold;
}

.shopcupon {
    font-size: 13px;
    color: rgb(173, 173, 173);
    position: absolute;
    right: 5px;
}