
.selectcheck {
    background-color: #fff5f1;
    line-height: 2.5rem;
    margin-left: 6%;
    margin-bottom: 10px;
  }
  .font-selectcheck {
    font-size: 18px;
    font-weight: bold;
  }
  .font-title-content{
    line-height: 1.5rem;
  }
  