.ion-no-margin-collection {
    --margin-start: 0;
    --margin-end: 0;
    --margin-top: 1rem;
    --margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.3rem;
    margin-bottom: 0;
  }
  ion-card {
    box-shadow: none !important;
    background-color: #ffffff;
    border-radius: 0rem;
  }
  