<ion-header>
  <ion-toolbar>
    <ion-buttons mode="ios" slot="start" (click)="ModalDismiss()">
      <ion-button>
        <ion-icon mode="ios" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>รายการสั่งซื้อของฉัน</ion-title>
    <ion-buttons mode="ios" slot="end">
      <ion-button (click)="ToSearchPage()">
        <ion-icon slot="icon-only" name="search">
        </ion-icon>
      </ion-button>

      <ion-button (click)="onToSettingPage()">
        <ion-icon slot="icon-only" name="more">
        </ion-icon>
      </ion-button>

    </ion-buttons>

  </ion-toolbar>
  <mat-tab-group>
    <!-- <div>
      <mat-tab label="ทั้งหมด">
        <ion-row>
          <ion-col>
            <img class="img-box" src="https://image.flaticon.com/icons/png/512/1095/1095925.png" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="ion-text-center">
              ยังไม่มีข้อมูลสั่งซื้อ ไปช้อปปิ้งกันก่อนได้นะ
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" color="danger" (click)="ToHomePage()">ช้อปปิ้งสินค้าในเว็บของเรา</ion-button>
          </ion-col>
        </ion-row>
      </mat-tab>
    </div>

    <div>
      <mat-tab label="รอการชำระเงิน">
        <ion-row>
          <ion-col>
            <img class="img-box" src="https://image.flaticon.com/icons/png/512/1095/1095925.png" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="ion-text-center">
              ยังไม่มีข้อมูลสั่งซื้อ ไปช้อปปิ้งกันก่อนได้นะ
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" color="danger" (click)="ToHomePage()">ช้อปปิ้งสินค้าในเว็บของเรา</ion-button>
          </ion-col>
        </ion-row>
      </mat-tab>
    </div>

    <div>
      <mat-tab label="รอการจัดส่ง">
        <ion-row>
          <ion-col>
            <img class="img-box" src="https://image.flaticon.com/icons/png/512/1095/1095925.png" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="ion-text-center">
              ยังไม่มีข้อมูลสั่งซื้อ ไปช้อปปิ้งกันก่อนได้นะ
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" color="danger" (click)="ToHomePage()">ช้อปปิ้งสินค้าในเว็บของเรา</ion-button>
          </ion-col>
        </ion-row>
      </mat-tab>
    </div>

    <div>
      <mat-tab label="รอรับสินค้า">
        <ion-row>
          <ion-col>
            <img class="img-box" src="https://image.flaticon.com/icons/png/512/1095/1095925.png" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="ion-text-center">
              ยังไม่มีข้อมูลสั่งซื้อ ไปช้อปปิ้งกันก่อนได้นะ
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" color="danger" (click)="ToHomePage()">ช้อปปิ้งสินค้าในเว็บของเรา</ion-button>
          </ion-col>
        </ion-row>
      </mat-tab>
    </div>

    <div>
      <mat-tab label="รอการรีวิว">
        <ion-row>
          <ion-col>
            <img class="img-box" src="https://image.flaticon.com/icons/png/512/1095/1095925.png" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="ion-text-center">
              ยังไม่มีข้อมูลสั่งซื้อ ไปช้อปปิ้งกันก่อนได้นะ
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" color="danger" (click)="ToHomePage()">ช้อปปิ้งสินค้าในเว็บของเรา</ion-button>
          </ion-col>
        </ion-row>
      </mat-tab>
    </div>

    <div>
      <mat-tab label="หลังการขาย">
        <ion-row>
          <ion-col>
            <img class="img-box" src="https://image.flaticon.com/icons/png/512/1095/1095925.png" alt="">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p class="ion-text-center">
              ยังไม่มีข้อมูลสั่งซื้อ ไปช้อปปิ้งกันก่อนได้นะ
            </p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" color="danger" (click)="ToHomePage()">ช้อปปิ้งสินค้าในเว็บของเรา</ion-button>
          </ion-col>
        </ion-row>
      </mat-tab>
    </div> -->

    <mat-tab label="ทั้งหมด">
      <ion-row>
        <ion-col size="12">
          <ion-grid *ngFor="let bill of BillDataList let i = index;">
            <ion-row class="border">
              <ion-col size="8" class="ion-align-items-center">

                <span class="span-title ion-align-items-center">
                  <ion-icon name="md-appstore" class="icon"></ion-icon>
                  <ion-label class="select">{{bill.shop_name}}</ion-label>
                </span>
              </ion-col>
              <ion-col size="4" class="ion-align-items-center">
                <ion-label>รอการชำระเงิน</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <img [src]="" alt="">
              </ion-col>
              <ion-col size="4">

              </ion-col>
              <ion-col size="4">
                
              </ion-col>

            </ion-row>




          </ion-grid>





        </ion-col>
      </ion-row>

    </mat-tab>



  </mat-tab-group>

</ion-header>


<ion-content>




</ion-content>