// ion-content {
//   --background: linear-gradient(0deg, rgb(255, 251, 251) 10%, rgba(247, 242, 241, 0.952) 89%);
// }

// .card-title {
//   height: 20%;
//   margin-top: 0px;
//   margin-bottom: 0px;
//   border-radius: 0px;
//   margin-left: 0px;
//   margin-right: 0px;
//   background-color: #ff4b04;
// }
.grid-conten-title {
  margin-top: 0px;
  height: 20%;
  background-color: #ff4b04;
}
.grid-conten {
  margin-top: -10%;
  background-color: white;
  height: 12%;
  width: 90%;
}
.border-conten {
  border-bottom: 1px solid;
  border-color: #c2c1c1;
  height: 65px;
}
.font-title {
  margin-bottom: 0px;
}

.online_title {
  margin-bottom: 0px;
}
.online_subtitle {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  color: lightslategrey;
}
.offline_title {
  margin-bottom: 0px;
}

ion-grid {
  // margin-top: 0.5rem;
  background-color: white;
}
ion-content {
  --padding-top: -100px !important;
  --background: rgb(241, 235, 235) !important;
}
// .KPLUS-icon {
//   width: 80%;
//   margin-left: -5px;
// }
// .icon-image {
//   width: 40%;
//   padding-top: 10%;
// }
.debit-image {
  width: 30%;
}
.font-title-content {
  font-size: 12px;
  // padding-right: 5px;
}
// .btn-end {
//   padding-left: 20px;
// }
// .button-select {
//   margin-left: 54px;
//   color: #c5bfbf;
//   margin-top: 6px;
//   width: 32px;
// }
// .namebank {
//   margin-left: -37px;
// }

.hightrow {
  height: 20px;
}
.hightrow2 {
  height: 20px;
}
// .card-title-conten {
//   margin-top: -10%;
//   background-color: white;
//   height: 13%;
// }
.title-limit {
  font-size: 18px;
  color: #ffffff;
}
.title-amount {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -16px;
  margin-bottom: 0px;
}
.font-conten {
  color: #000;
  font-weight: bold;
}
.card-conten {
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  margin-left: 10px;
  margin-right: 10px;
}

