<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="confirmAlert()">
        <ion-icon slot="icon-only" mode="ios" name="ios-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>เลือกวิธีการชำระเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid-conten-title">
    <ion-row>
      <ion-col size="12" text-center>
        <p class="title-limit">{{payforData.limit}} {{payforData.cerrency}}</p>
        <p class="title-amount" *ngIf="mockData.billId === ''">{{payforData.amount}}</p>
        <p class="title-amount" *ngIf="mockData.billId !== ''">{{billPrice}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-conten" *ngIf="mockData.billId === ''">
    <app-payment-amount [paymentData]="payforData"></app-payment-amount>
  </ion-grid>

  <app-payment-method-list [debitcreditcardData]="debitcreditcardData" [payforData]="payforData"
    [onlinebankingData]="onlinebankingData" [atm_paymentData]="atm_paymentData"
    [counter_paymentData]="counter_paymentData"></app-payment-method-list>
</ion-content>