.card-title {
  height: 20%;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #ff9504;
  
}
.card-title-conten {
  margin-top: -10%;
  background-color: white;
  height: 15%;
}
.title-limit {
  font-size: 18px;
  color: #000;
}
.title-amount {
  font-size: 28px;
  font-weight: bold;
  color: #000;
  margin-top: 0px;
  margin-bottom: 0px;
}
.font-conten {
  color: #000;
  font-weight: bold;
}
.card-conten {
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  margin-left: 10px;
  margin-right: 10px;
}
.online_title {
  margin-bottom: 0px;
}
.online_subtitle {
  font-size: 16px;
  color: lightslategrey;
  margin-top: 0px;
}
