.grid-conten-title {
  margin-top: 0px;
  height: 20%;
  background-color: #ff4b04;
}

.grid-conten {
  margin-top: -10%;
  background-color: white;
  height: 12%;
  width: 90%;
}

.border-conten {
  border-bottom: 1px solid;
  border-color: #c2c1c1;
  height: 65px;
}

ion-grid {
  background-color: white;
}

ion-content {
  --padding-top: -100px !important;
  --background: rgb(241, 235, 235) !important;
}

.title-limit {
  font-size: 18px;
  color: #ffffff;
}

.title-amount {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  margin-top: -16px;
  margin-bottom: 0px;
}

.card-conten {
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  margin-left: 10px;
  margin-right: 10px;
}