ion-grid {
  margin-top: 0.5rem;
  background-color: white;
}
ion-content {
  --padding-top: -100px !important;
  --background: rgb(241, 235, 235) !important;
}
.grid-conten {
  background-color: rgb(241, 235, 235);
}
.font-title {
  margin-bottom: 0px;
}
.font-padding {
  padding-left: 10%;
}
.icon-image {
  width: 10%;
}
.img-shield {
  width: 25%;
  padding-top: 10%;
}
.counter-title {
  margin-top: 0px;
  margin-bottom: 0px;
}
.counter-image {
  width: 80%;
}
