.iconfont-text {
    padding-left: 10px;
  }
  .list-ios {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background: var(--ion-item-background, var(--ion-background-color, #fff));
  }
  