<ion-header no-border>
  <ion-toolbar>
    <ion-buttons class="btn-back-position" mode="ios" slot="start" (click)="goBackClick()">
      <ion-button>
        <ion-icon mode="ios" slot="icon-only" class="arrow-back" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">บิลของฉัน</ion-title>
    <div class="ion-text-end ion-padding-end" (click)="openMoreAction()">
      ดูเพิ่มเติม
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="billData.u_id === ''">
  <div class="no-bills">
    <p>ยังไม่มีบิล</p>
  </div>
</ion-content>

<ion-content *ngIf="billData.u_id !== ''">
  <div class="color-header">
    <ion-row>
      <ion-col size="4" class="date-header ion-text-left ion-padding-start">
        <div *ngIf="billData.bills[inx - 1]" (click)="onPreviousBill()">
          <ion-icon class="icon-position" mode="ios" name="arrow-back"></ion-icon>
          {{billData.bills[inx - 1].bill_month}}
        </div>
      </ion-col>
      <ion-col size="4" class="date-header ion-text-center date-select">
        <div>
          {{billData.bills[inx].bill_month}}
        </div>
        <ion-icon class="icon-selected" name="remove"></ion-icon>
      </ion-col>
      <ion-col size="4" class="date-header ion-text-end ion-padding-end">
        <div *ngIf="billData.bills[inx + 1]" (click)="onNextBill()">
          {{billData.bills[inx + 1].bill_month}}
          <ion-icon class="icon-position" mode="ios" name="arrow-forward"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="ion-margin-start ion-margin-end ion-padding bill-title">
    <div class="ion-text-center">
      <p class="font-header-title ion-no-margin">
        ยอดค้างชำระ(฿)
      </p>
      <p *ngIf="billData.bills[inx].bill_status === 'billing'" class="font-header-subtitle ion-no-margin">
        (รอการชำระ)
      </p>
      <p *ngIf="billData.bills[inx].bill_status === 'nobill'" class="font-header-subtitle2 ion-no-margin">
        (ไม่มีบิลรอชำระ)
      </p>
      <p class="header-number-payment ion-no-margin">
        {{billData.bills[inx].bill_price}}
      </p>
      <p class="font-header-datelimit">
        วันที่กำหนดชำระเงิน: {{billData.bills[inx].bill_datelimit}}
      </p>
      <div *ngIf="billData.bills[inx].bill_status === 'billing'">
        <ion-button expand="block" color="primary">ชำระเงินทันที</ion-button>
      </div>
      <div *ngIf="billData.bills[inx].bill_status === 'nobill'">
        <ion-button expand="block" fill="outline" color="primary">ชำระเงินล่วงหน้า</ion-button>
      </div>
    </div>
    <div class="income-container">
      <span class="income-title font-header-title">เงินที่ต้องเข้าบัญชี</span>
      <span class="income-value">{{billData.bills[inx].bill_currency}}{{billData.bills[inx].bill_price}}</span>
    </div>
  </div>

  <p class="ion-margin-start font-list-title">รายละเอียดบิลของเดือนนี้ ({{billData.bills[inx].bill_products.length}})</p>

  <ion-grid class="ion-margin-start ion-margin-end list-shadow">
    <ion-row class="bill-list" *ngFor="let product of billData.bills[inx].bill_products;let i = index" (click)="onListProduct(i)">
      <ion-col size="8">
        <div class="list-item-name">
          {{product.product_name}}
        </div>
        <div class="list-item-subname" *ngFor="let item of product.product_lists">
          <p class="ion-no-margin" *ngIf="item.list_month === billData.bills[inx].bill_month">{{item.list_amount}} ต่องวด</p>
        </div>
      </ion-col>
      <ion-col size="4" class="list-right-container">
        <div class="list-value-middle" *ngFor="let value of product.product_lists">
          <div *ngIf="value.list_month === billData.bills[inx].bill_month">
            <span class="list-item-value">
              {{value.list_price}}
            </span>
            <span class="icon-position">
              <ion-icon mode="ios" name="arrow-forward"></ion-icon>
            </span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>