ion-toolbar {
    --background: #f25454;
    --ion-color-base: #f25454 !important;
    color: #ffffff;
}

ion-content {
    --background: rgb(250, 250, 250) !important;
}

.btn-back-position {
    position: absolute;
}

.arrow-back {
    color: white;
}

.no-bills {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-header {
    background-color: #f25454;
    height: 160px;
    margin-top: -50px;
}

.date-header {
    position: relative;
    top: 70px;
    color: white;
    font-size: 18px;
}

.date-select {
    font-weight: bold;
}

.icon-selected {
    width: 76px;
    height: 63px;
    position: relative;
    top: -23px;
}

.bill-title {
    margin-top: -35px;
    background-color: white;
    box-shadow: 0px 2px 7px 1px rgba(212, 210, 212, 1);
}

.font-header-title {
    font-size: 16px;
    color: #a9a8a8;
    margin-top: 16px;
    margin-bottom: 4px;
}

.font-header-subtitle {
    font-size: 13px;
    color: #14c014;
}

.font-header-subtitle2 {
    font-size: 13px;
    color: #bcbcbc;
}

.header-number-payment {
    font-size: 28px;
    font-weight: bold;
    margin-top: 10px;
}

.font-header-datelimit {
    font-size: 13px;
    color: #a9a8a8;
}

.income-container {
    margin-top: 34px;
}

.income-title {
    position: relative;
    left: 2px;
}

.income-value {
    position: absolute;
    right: 30px;
    font-weight: bold;
    color: #292828;
}

.font-list-title {
    font-size: 16px;
    font-weight: bold;
    color: #7b7878;
}

.list-shadow {
    background-color: white;
    box-shadow: 0px 2px 7px 1px rgba(212, 210, 212, 1);
    padding-bottom: 0px;
    padding-top: 0px;
}

.bill-list {
    background-color: white;
    border-bottom: 1px solid;
    border-color: lightgray;
    padding: 7px;
}

.list-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 17px;
    color: #585656;
    margin-bottom: 13px;
}

.list-item-subname {
    font-size: 14px;
    color: #aeacac;
}

.list-right-container {
    text-align: right;
}

.list-value-middle {
    position: relative;
    top: 15px;
    color: #292828;
}

.list-item-value {
    font-weight: bold;
    font-size: 15px;
}

.icon-position {
    position: relative;
    top: 2px;
}