<ion-header>
  <ion-toolbar>
    <ion-buttons mode="ios" slot="start" (click)="onBackClick()">
      <ion-button>
        <ion-icon mode="ios" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ข้อความ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-row>
      <ion-col size="3">
        <img src="https://image.flaticon.com/icons/svg/429/429370.svg">
        <p>ช้อปปิ้ง</p>
      </ion-col>
      <ion-col size="3">
        <img src="https://image.flaticon.com/icons/svg/1804/1804298.svg">
        <p>ผ่อน</p>
      </ion-col>
      <ion-col size="3">
        <img src="https://image.flaticon.com/icons/svg/463/463777.svg">
        <p>ระบบ</p>
      </ion-col>
      <ion-col size="3">
        <img src="https://image.flaticon.com/icons/svg/427/427096.svg">
        <p>กิจกรรม</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-item *ngFor="let item of messageDataList">
      <ion-avatar slot="start">
        <img [src]="item.typeicon">
      </ion-avatar>
      <ion-label>
        <h3>{{item.topic}}</h3>
        <p>{{item.description}}</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <h1 style="text-align: center;">สินค้าแนะนำ</h1>

  <ion-row>
    <ion-col size="6" *ngFor="let recommend of recommendDataList">
      <ion-card>
        <div  (click)="onOpenDetailClick()">
          <img [src]="recommend.image">
        </div>
        <ion-row>
          <ion-col size="12" text-wrap>
            {{recommend.name}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            {{recommend.price.currency}} {{recommend.price.amount}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="10">
            {{recommend.price.currency}} {{recommend.installment.amount}} {{recommend.installment.period}}
          </ion-col>
          <ion-col size="2">
            <div (click)="onAddToCartClick()">
              <ion-icon name="cart"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>