<ion-header>
  <ion-toolbar>
    <ion-buttons mode="ios" slot="start" (click)="onBackClick()">
      <ion-button>
        <ion-icon mode="ios" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ข้อความ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-row>
      <ion-col size="3">
        <div class="ion-justify-content-center">
          <img class="icon" src="https://image.flaticon.com/icons/svg/429/429370.svg">
        </div>
        <p>ช้อปปิ้ง</p>
      </ion-col>
      <ion-col size="3">
        <div class="ion-justify-content-center">
          <img class="icon" src="https://image.flaticon.com/icons/svg/1804/1804298.svg">
        </div>
        <p>ผ่อน</p>
      </ion-col>
      <ion-col size="3">
        <div class="ion-justify-content-center">
          <img class="icon" src="https://image.flaticon.com/icons/svg/463/463777.svg">
        </div>
        <p>ระบบ</p>
      </ion-col>
      <ion-col size="3">
        <div class="ion-justify-content-center">
          <img class="icon" src="https://image.flaticon.com/icons/svg/427/427096.svg">
        </div>
        <p>กิจกรรม</p>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-item *ngFor="let item of messageDataList">
      <ion-avatar slot="start">
        <img [src]="item.typeicon">
      </ion-avatar>
      <ion-label>
        <h3>{{item.topic}}</h3>
        <p>{{item.description}}</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <h1 style="text-align: center;">สินค้าแนะนำ</h1>
  
  <productlist [recivedata]="recommendDataList"></productlist>

</ion-content>