<ion-header>
  <ion-toolbar>
    <ion-buttons class="backbutton" slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon slot="icon-only" name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ผ่อนชำระ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <span class="pri">
        {{PaymentData.selected.down_amount.currency}}
        {{PaymentData.selected.period_amount.amount_period}}
      </span>
      <span class="unit">
        {{PaymentData.selected.period_amount.period}}
        {{PaymentData.selected.period_amount.unit}}
      </span>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="12">
            <span>
              {{PaymentData.selected.down_amount.down}}
            </span>
            <span class="subdow">
              {{PaymentData.selected.down_amount.currency}}
              {{PaymentData.selected.down_amount.amount_down}}
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <span>
              {{PaymentData.selected.period_amount.monpayment}}
            </span>
            <span class="subdow">
              {{PaymentData.selected.period_amount.amount_period}}
            </span>
            <span>
              {{PaymentData.selected.period_amount.inc}}
            </span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-row>
    <ion-col size="12">
      <ion-text>{{PaymentData.selected.down_options.down_payment}}</ion-text>
      <ion-row class="top"
        *ngIf="PaymentData.selected.down_options.payment_percent && PaymentData.selected.down_options.payment_percent.length">
        <ion-col class="pay" size="2" text-center
          *ngFor="let itempay of PaymentData.selected.down_options.payment_percent"
          [class.ion-col-border]="itempay._id == percenSelected" (click)="onPercenClick(itempay._id)">
          <ion-icon class="ion-item-percenselected" name="checkbox" *ngIf="itempay._id == percenSelected"></ion-icon>
          {{itempay.rate}} {{itempay.unit}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-text>{{PaymentData.selected.period_option.installments}}</ion-text>
      <ion-row class="top"
        *ngIf="PaymentData.selected.period_option.installperiod && PaymentData.selected.period_option.installperiod.length">
        <ion-col class="per" size="3" text-center
          *ngFor="let itemper of PaymentData.selected.period_option.installperiod"
          [class.ion-col-border]="itemper._id == unitSelected" (click)="onUnitClick(itemper._id)">
          <ion-icon class="ion-item-unitselected" name="checkbox" *ngIf="itemper._id == unitSelected"></ion-icon>
          {{itemper.period}} {{itemper.unit}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons class="btn-center" (click)="onPayClick()">
      <ion-button class="btn-footer">จ่ายเป็นงวด</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>