.pay {
  background: #fff5f1;
  height: 2.64rem;
  line-height: 1.9rem;
  border-radius: 0.1rem;
  background-color: #f5f5f5;
  margin-right: 1.5rem;
  text-align: center;
  margin-bottom: 0.7rem;
  float: left;
  font-size: 1rem;
  color: #333;
  border: 1px solid #f5f5f5;
}
.per {
  background: #fff5f1;
  height: 2.64rem;
  line-height: 1.9rem;
  border-radius: 0.1rem;
  background-color: #f5f5f5;
  margin-right: 1.5rem;
  text-align: center;
  margin-bottom: 0.7rem;
  float: left;
  font-size: 1rem;
  color: #333;
  border: 1px solid #f5f5f5;
}

ion-footer {
  ion-title {
    text-align: center;
    background-color: orangered;
    color: antiquewhite;
  }
}
.currency {
  font-size: 28px;
  font-weight: bold;
}
.top {
  margin-top: 1%;
}
