.pay {
  // background: #fff5f1;
  // height: 2.64rem;
  // line-height: 1.9rem;
  // border-radius: 0.1rem;
  // background-color: #f5f5f5;
  // margin-right: 1.5rem;
  // text-align: center;
  // margin-bottom: 0.7rem;
  // float: left;
  // font-size: 1rem;
  // color: #333;
  // border: 1px solid #f5f5f5;
  background-color: #fff5f1;
  color: #f34602;
  // border: 1px solid #f34602;
  line-height: 2.5rem;
  padding: 0 0.16rem;
  color: #333;
  font-size: 0.9rem;
  margin-right: 0.9rem;
  margin-bottom: 0.24rem;
  white-space: nowrap;
}
.per {
  // background: #fff5f1;
  // height: 2.64rem;
  // line-height: 1.9rem;
  // border-radius: 0.1rem;
  // background-color: #f5f5f5;
  // margin-right: 1.5rem;
  // text-align: center;
  // margin-bottom: 0.7rem;
  // float: left;
  // font-size: 1rem;
  // color: #333;
  // border: 1px solid #f5f5f5;
  background-color: #fff5f1;
  color: #f34602;
  // border: 1px solid #f34602;
  line-height: 2.5rem;
  padding: 0 0.16rem;
  color: #333;
  font-size: 0.9rem;
  margin-right: 0.9rem;
  margin-bottom: 0.24rem;
  white-space: nowrap;
}

.btn-footer {
  color: antiquewhite;
}
.btn-center {
  display: flex;
  justify-content: center;
  background-color: orangered;
}

.top {
  margin-top: 1%;
}

.pri {
  font-weight: bold;
  font-size: 26px;
  color: orangered;
}
.unit {
  font-size: 20px;
  color: #bbb;
}
.subdow {
  color: orangered;
  font-weight: bold;
}

.ion-col-border {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}
.ion-item-percenselected {
  font-size: 2rem;
  color: red;
  margin-top: -.65rem;
  margin-left: 36%;
  position: absolute;
}
.ion-item-unitselected {
  font-size: 2rem;
  color: red;
  margin-top: -.65rem;
  margin-left: 47%;
  position: absolute;
}

