<ion-header>
  <ion-toolbar>
    <ion-buttons class="backbutton" slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon slot="icon-only" mode="ios" name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ผ่อนชำระ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <span class="pri">
        {{PaymentData.installment_price_text}}
      </span>
      <span class="unit">x</span>
      <span class="unit">
        {{PaymentData.periods_lists}}
      </span>
      <span class="unit">เดือน</span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-item" size="12">
      <ion-item-divider lines="none">
        <ion-row>
          <ion-col size="12">
            <ion-row>
              <ion-col size="12">
                <!-- <span>
                  {{PaymentData.selected.down_amount.down}}
                </span>
                <span class="subdow">
                  {{PaymentData.selected.down_amount.currency}}
                  {{PaymentData.selected.down_amount.amount_down}}
                </span> -->
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <!-- <span>
                  {{PaymentData.selected.period_amount.monpayment}}
                </span>
                <span class="subdow">
                  {{PaymentData.selected.period_amount.amount_period}}
                </span>
                <span>
                  {{PaymentData.selected.period_amount.inc}}
                </span> -->
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item-divider>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-dow" size="12">
      <ion-text>ddddddddddddddddddd</ion-text>
      <ion-row class="top" *ngIf="PaymentData.down_payment_lists && PaymentData.down_payment_lists.length">
        <ion-col class="pay" size="2" text-center *ngFor="let itempay of PaymentData.down_payment_lists"
          [class.ion-col-border]="itempay == percenSelected" (click)="onPercenClick(itempay)">
          <ion-icon class="ion-item-percenselected" name="checkbox" *ngIf="itempay == percenSelected"></ion-icon>
          <span>{{itempay}}</span> <span>%</span>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-text>ddddddddddddddddddd</ion-text>
      <ion-row class="top" *ngIf="PaymentData.periods_lists && PaymentData.periods_lists.length">
        <ion-col class="per" size="3" text-center *ngFor="let itemper of PaymentData.periods_lists"
          [class.ion-col-border]="itemper == unitSelected" (click)="onUnitClick(itemper)">
          <ion-icon class="ion-item-unitselected" name="checkbox" *ngIf="itemper == unitSelected"></ion-icon>
          <span>{{itemper}}</span> <span>เดือน</span>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-grid class="grid-footter">
    <ion-buttons class="btn-center" (click)="onPayClick()">
      <ion-button class="btn-footer">จ่ายเป็นงวด</ion-button>
    </ion-buttons>
  </ion-grid>
</ion-footer>