.pay {
    background: #fff5f1;
    height: 1.64rem;
    line-height: 0.64rem;
    border-radius: 0.1rem;
    background-color: #f5f5f5;
    margin-right: 1.50rem;
    text-align: center;
    margin-bottom: 0.9rem;
    float: left;
    font-size: 0.9rem;
    color: #333;
    border: 1px solid #f5f5f5;
}
.per {
    background: #fff5f1;
    height: 1.64rem;
    line-height: 0.64rem;
    border-radius: 0.1rem;
    background-color: #f5f5f5;
    margin-right: 1.50rem;
    text-align: center;
    margin-bottom: 0.9rem;
    float: left;
    font-size: 0.9rem;
    color: #333;
    border: 1px solid #f5f5f5;
}
