<ion-header *ngIf="!isTakeCamera">
  <ion-toolbar>
    <ion-buttons slot="start" mode="ios" (click)="goBackClick()">
      <ion-button>
        <ion-icon mode="ios" slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>สมัครวงเงิน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isTakeCamera">
  <mat-horizontal-stepper labelPosition="bottom" disableRipple="false" #stepper>
    <mat-step label="ข้อมูลส่วนตัว" completed="false">
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="6" class="ion-text-center img-container" (click)="openModalCard('front')"
          *ngIf="regProfile.frontcardimaged.url === ''">
          <div class="avatar-icon">
            <ion-icon name="camera"></ion-icon>
          </div>
          <img class="img-size" src="../../assets/images/frontThaiCard.jpg" />
        </ion-col>
        <ion-col size="6" class="ion-text-center img-container" *ngIf="regProfile.frontcardimaged.url !== ''">
          <div class="icon-container">
            <div class="icon-close-position" (click)="onDeleteImg('frontcardimaged')">
              <ion-icon name="close"></ion-icon>
            </div>
          </div>
          <img class="img-binding" [src]="regProfile.frontcardimaged.url" />
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="6" class="ion-text-center img-container" (click)="openModalCard('back')"
          *ngIf="regProfile.backcardimaged.url === ''">
          <div class="avatar-icon">
            <ion-icon name="camera"></ion-icon>
          </div>
          <img class="img-size" src="../../assets/images/backThaiCard.jpg" alt="" />
        </ion-col>
        <ion-col size="6" class="ion-text-center img-container" *ngIf="regProfile.backcardimaged.url !== ''">
          <div class="icon-container">
            <div class="icon-close-position" (click)="onDeleteImg('backcardimaged')">
              <ion-icon name="close"></ion-icon>
            </div>
          </div>
          <img class="img-binding" [src]="regProfile.backcardimaged.url" />
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="6" class="ion-text-center img-container" (click)="openModalCard('withme')"
          *ngIf="regProfile.personwithcardimaged.url === ''">
          <div class="avatar-icon">
            <ion-icon name="camera"></ion-icon>
          </div>
          <img class="img-size img-radius" src="../../assets/images/oweThaiCard.jpg" alt="" />
        </ion-col>
        <ion-col size="6" class="ion-text-center img-container" *ngIf="regProfile.personwithcardimaged.url !== ''">
          <div class="icon-container">
            <div class="icon-close-position" (click)="onDeleteImg('personwithcardimaged')">
              <ion-icon name="close"></ion-icon>
            </div>
          </div>
          <img class="img-binding" [src]="regProfile.personwithcardimaged.url" />
        </ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
      <ion-item>
        <ion-label>รหัสบัตรประชาชน</ion-label>
        <ion-input class="ion-text-end" [(ngModel)]="regProfile.citizen_id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>หมายเลขด้านหลังบัตรประชาชน</ion-label>
        <ion-input class="ion-text-end" [(ngModel)]="regProfile.citizenback_id"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>ชื่อ</ion-label>
        <ion-input class="ion-text-end" [(ngModel)]="regProfile.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>นามสกุล</ion-label>
        <ion-input class="ion-text-end" [(ngModel)]="regProfile.lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>เพศ</ion-label>
        <div class="ion-align-items-center" (click)="openActionGender()">
          <ion-text *ngIf="regProfile.gender !==''">{{regProfile.gender}}</ion-text>
          <ion-text *ngIf="regProfile.gender ===''">เลือก</ion-text>
          <ion-icon name="arrow-forward" mode="ios"></ion-icon>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>วันเดือนปีเกิด</ion-label>
        <ion-datetime placeholder="เลิือก" [(ngModel)]="regProfile.birthdate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ที่อยู่ตามบัตรประชาชน</ion-label>
        <ion-textarea rows="6" cols="20" [(ngModel)]="regProfile.addressbycard"></ion-textarea>
      </ion-item>
      <div class="ion-margin-top hint-style">
        กรุณาตรวนสอบให้แน่ใจว่าข้อมูลนี่เป็นความจริงและถูกต้อง
      </div>
      <button class="btn-style" mat-raised-button matStepperNext (click)="onNext()">
        ขั้นตอนต่อไป
      </button>
    </mat-step>

    <mat-step label="ที่อยู่ติดต่อ" completed="false">
      <ion-item>
        <ion-label>อีเมล</ion-label>
        <ion-input class="ion-text-end" [(ngModel)]="regProfile.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">ที่อยู่ปัจจุบัน</ion-label>
        <ion-textarea rows="6" cols="20" [(ngModel)]="regProfile.address"></ion-textarea>
      </ion-item>
      <div class="ion-margin-top hint-style">
        กรุณาตรวนสอบให้แน่ใจว่าข้อมูลนี่เป็นความจริงและถูกต้อง
      </div>
      <button class="btn-style" mat-raised-button color="primary" matStepperNext (click)="onNext()">
        ขั้นตอนต่อไป
      </button>
    </mat-step>

    <mat-step label="บุคคลติดต่อฉุกเฉิน" completed="false">
      <ion-item>
          <ion-label>ความสัมพันธ์</ion-label>
          <div class="ion-align-items-center" (click)="onActionRelation()">
            <ion-text *ngIf="dataSecondContact.relation !==''">{{dataSecondContact.relation}}</ion-text>
            <ion-text *ngIf="dataSecondContact.relation ===''">เลือก</ion-text>
            <ion-icon name="arrow-forward" mode="ios"></ion-icon>
          </div>
        </ion-item>
      <ion-item>
        <ion-label>ชื่อ</ion-label>
        <ion-input class="ion-text-end" [(ngModel)]="dataSecondContact.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>นามสกุล</ion-label>
        <ion-input class="ion-text-end" [(ngModel)]="dataSecondContact.lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>หมายเลขโทรศัพท์</ion-label>
        <ion-input class="ion-text-end" [(ngModel)]="dataSecondContact.tel"></ion-input>
      </ion-item>

      <div class="ion-margin-top hint-style">
        กรุณาตรวนสอบให้แน่ใจว่าข้อมูลนี่เป็นความจริงและถูกต้อง
      </div>
      <button class="btn-style" mat-raised-button color="primary" (click)="onFinish()">
        ส่ง
      </button>
    </mat-step>
  </mat-horizontal-stepper>
</ion-content>

<ion-content *ngIf="isTakeCamera" class="content-transparent">
</ion-content>