.content-transparent{
    --background: transparent !important;
}

ion-item{
    font-size: 13px;
}

ion-input{
    font-size: 11px !important;
    text-align: right;
}

.img-size {
    height: 100px;
    // filter: grayscale(50%);
    width: 153px;
    opacity: 0.5;
}
.img-binding{
    height: 100px;
    width: 153px;
}

.icon-container {
    height: 100px;
    width: 153px;
    position: absolute;
}

.icon-close-position {
    position: absolute;
    border-radius: 100%;
    background-color: lightgray;
    opacity: 0.6;
    right: -8px;
    top: -3px;
    width: 20px !important;
    height: 20px !important;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-radius {
    border-radius: 10%;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.avatar-icon {
    position: absolute;
    background-color: lightgray;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.hint-style {
    font-size: 10px;
    color: gray;
    margin-bottom: 6px;
  }