<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" (click)="ModalDismiss()" mode="ios">
        <ion-button>
          <ion-icon mode="ios" slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>โซเชียลมีเดีย</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-item>
          <ion-avatar slot="start">
              <img src="https://image.flaticon.com/icons/svg/145/145802.svg">
            </ion-avatar>
          <ion-label>facebook</ion-label>
          <p>not set</p>
          <ion-buttons slot="end" mode="ios">
            <ion-button>
              <ion-icon mode="ios" slot="icon-only" name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://image.flaticon.com/icons/svg/145/145805.svg">
              </ion-avatar>
            <ion-label>instagram</ion-label>
            <p>not set</p>
            <ion-buttons slot="end" mode="ios">
              <ion-button>
                <ion-icon mode="ios" slot="icon-only" name="arrow-forward"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
          <ion-item>
              <ion-avatar slot="start">
                  <img src="https://image.flaticon.com/icons/svg/185/185980.svg">
                </ion-avatar>
              <ion-label>line</ion-label>
              <p>not set</p>
              <ion-buttons slot="end" mode="ios">
                <ion-button>
                  <ion-icon mode="ios" slot="icon-only" name="arrow-forward"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
  </ion-content>