<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="ModalDismiss()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ประวัติการเข้าชม</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-row>
    <ion-col size="12">
      <img class="search-img" src="https://image.flaticon.com/icons/svg/1055/1055645.svg" alt="">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p class="ion-text-center">
        คุณยังไม่มีประวัติการเข้าชม
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="btn-center">
      <ion-button expand="block" color="primary"><h3>หน้าหลัก</h3></ion-button>
    </ion-col>
  </ion-row>
</div>
</ion-content>
