<ion-header>
  <ion-toolbar>
    <ion-buttons class="backbutton" slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon slot="icon-only" mode="ios" name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Debit/CreditCard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <span class="font-conten">{{payforData.limit}} :</span>
          </ion-col>
          <ion-col size="6" text-end>
            <span class="font-conten-amount">{{payforData.cerren}} {{payforData.amount}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <p class="font-title">{{debitcreditcardData.add_debit_credit.name}}</p>
      <ion-row>
        <ion-col size="1.5" *ngFor="let item of debitcreditcardData.debit">
          <div>
            <img class="debit-image" [src]="item">
          </div>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-grid>
        <ion-item no-padding class="item-border-right">
          <ion-label>{{debitcreditcardData.bank.name}}</ion-label>
          <ion-note text-end>
            <ion-buttons (click)="BankModal()">
              <ion-button>
                <ion-text class="padding-select" *ngIf="bankData.bankname !==''">{{bankData.bankname}}</ion-text>
                <ion-text class="font-select-color padding-select"
                  *ngIf="!bankData.bankname || bankData.bankname === 'undefined' || bankData.bankname ===''">เลือก
                </ion-text>
                <ion-icon name="ios-arrow-forward"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-note>
        </ion-item>

        <ion-item no-padding class="item-border-right">
          <ion-label>{{debitcreditcardData.card_number.name}}</ion-label>
          <ion-input class="font-title-content" text-end
            [(ngModel)]="debitcreditcardData.card_number.please_enter_card">
          </ion-input>
        </ion-item>

        <ion-item no-padding class="item-border-right">
          <ion-label>{{debitcreditcardData.account_name.name}}</ion-label>
          <ion-input class="font-title-content" text-end
            [(ngModel)]="debitcreditcardData.account_name.please_enter_name">
          </ion-input>
        </ion-item>

        <ion-item no-padding class="item-border-right">
          <ion-label>{{debitcreditcardData.expiration.name}}</ion-label>
          <ion-note text-end>
            <ion-datetime placeholder="วันหมดอายุบัตร"></ion-datetime>
          </ion-note>
        </ion-item>

        <ion-item no-padding class="item-border-right">
          <ion-label>{{debitcreditcardData.cvv_or_ccv.name}}</ion-label>
          <ion-input class="font-title-content" text-end [(ngModel)]="debitcreditcardData.cvv_or_ccv.card_back_code">
          </ion-input>
        </ion-item>

        <ion-item no-padding class="item-border-right">
          <ion-label>{{debitcreditcardData.save_card_details.name}}</ion-label>
          <ion-note text-end>
            <ion-toggle class="toggle-padding" name="cherry" color="danger" checked></ion-toggle>
          </ion-note>
        </ion-item>

        <ion-row>
          <ion-col size="12">
            <p class="font-title-content">{{debitcreditcardData.guarantee.title}}</p>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col size="4" text-end>
          <div>
            <img class="img-shield" slot="icon-only" src="https://image.flaticon.com/icons/png/512/1161/1161388.png">
          </div>
        </ion-col>
        <ion-col size="8" text-start>
          <p>การป้องกันการชำระเงิน</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>