<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="ModalDismiss()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ร้านค้าที่ติดตาม</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-row>
    <ion-col size="12">
      <img class="store-img" src="https://image.flaticon.com/icons/svg/609/609752.svg" alt="">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <p class="ion-text-center">
        คุณยังไม่มีร้านค้าที่ติดตาม
      </p>
    </ion-col>
  </ion-row>
</div>
</ion-content>