ion-checkbox {
  width: 5%;
  height: 6%;
}

.percent_down {
  margin-right: -75%;
}
.per {
  background: #fff5f1;
  height: 1.64rem;
  line-height: 0.64rem;
  border-radius: 0.1rem;
  background-color: #f5f5f5;
  margin-right: -0.5;
  text-align: center;
  margin-bottom: 0.9rem;
  float: left;
  font-size: 0.9rem;
  color: #333;
  border: 1px solid #f5f5f5;
}
// .sizecard {
//   height: 43%;
// }
// .sizecard2 {
//   height: 18%;
// }

.arow-forward {
  position: absolute;
  right: 0px;
  top: 0%;
}
.address {
  font-size: 20px;
}
.arow-forwardicon {
  margin-right: -87%;
}
.label-right {
  margin-right: -17rem;
}
.label-right2 {
  margin-right: -11rem;
}
.label-right3 {
  margin-right: -13rem;
}

.add {
  font-size: 22px;
  font-weight: bold;
  padding-top: 0.7rem;
}
.select {
  font-size: 18px;
  font-weight: bold;
}
.icon {
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}
.phonename {
  font-size: 18px;
}
.option {
  font-size: 14px;
}
.phoneprice {
  font-size: 18px;
}
.quantity {
  font-size: 14px;
}
.discount {
  font-size: 16px;
}
