<ion-header>
  <ion-toolbar class="bgtoolbar">
    <ion-title>ยืนยันข้อมูลการสั่งซื้อ</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="goBackClick()">
        <ion-icon slot="icon-only" color="light" mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-row *ngIf="AddaddressData && AddaddressData.address" class="address-magin">
    <ion-col size="12">
      <ion-row>
        <ion-col size="11">
          <ion-row class="address">
            <ion-col size="12">
              <p class="address">
                {{AddaddressData.address.receiveraddress}} {{AddaddressData.address.subdistric}}
                {{AddaddressData.address.distric}} {{AddaddressData.address.province}}
              </p>
            </ion-col>
          </ion-row>
          <ion-row class="nameaddress">
            <ion-col size="12">
              <span class="user">
                {{AddaddressData.address.receiver}}
              </span>
              <span class="phoneprice">
                {{AddaddressData.address.receiverphone}}
              </span>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="1">
          <ion-buttons (click)="addresslModal()">
            <ion-button class="arow-forward">
              <ion-icon mode="ios" name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!AddaddressData">
    <ion-col size="12" class="ion-col-adadress">
        <ion-buttons>
          <ion-button slot="start" class="add" (click)="onAddaddressClick()">
            <ion-icon mode="ios" name="add"></ion-icon>
          </ion-button>
          <ion-text class="add">โปรดเพิ่มที่อยู่</ion-text>
        </ion-buttons>
    </ion-col>
  </ion-row>

  <!-- <ion-row>
    <ion-col size="12">
      <ion-item lines="none" (click)="presentActionSheet()">
        <ion-label>
          <span class="select">
            วิธีการชำระเงิน
          </span>
        </ion-label>
        <ion-label>
          <span class="phonename">
            {{select}}
          </span>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-grid>
        <ion-row *ngIf="select === 'ผ่อนชำระ'">
          <ion-col size="12">
            <ion-list-header>
              <ion-text class="texthead">
                เงินดาวน์
              </ion-text>
            </ion-list-header>
            <ion-item lines="none" *ngFor="let data of downDataList" (click)="selectDownModal()">
              <ion-label *ngFor="let down of data.down_payment">
                <span class="phonename">
                  {{down.cerrency}}{{down.amount}}
                </span>

                <span *ngFor="let down of data.down_payment" class="percent_down">
                  {{down.percent_down}}{{down.unit}}
                </span>
              </ion-label>
              <ion-buttons>
                <ion-button slot="end">
                  <ion-icon mode="ios" name="arrow-forward"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>

            <ion-row>
              <ion-col size="12" *ngFor="let data of downDataList">
                <span class="texthead">
                  จ่ายรายเดือน (ค่าบริการรายเดือน{{data.period_service}} {{data.cerrency}} รวม)
                </span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" text-center *ngFor="let data of downDataList">
                <ion-text class="installment">
                  {{data.cerrency}}{{data.installment_amount}}
                </ion-text>
                <span class="quantity">
                  {{data.installment_period}}{{data.unit}}
                </span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" *ngFor="let data of downDataList">
                <ion-row *ngIf="data.period_option && data.period_option.length">
                  <ion-col class="per" size="3" text-center *ngFor="let period of data.period_option"
                    [class.ion-col-border]="period._id == percenSelected" (click)="onPercenClick(period._id)">
                    <ion-icon class="ion-item-percenselected" name="checkbox" *ngIf="period._id == percenSelected">
                    </ion-icon>
                    <span>
                      {{period.period}}{{period.unit}}
                    </span>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <span>
                  <ion-checkbox class="iconcheck" mode="ios" color="danger" checked></ion-checkbox>
                </span>
                <span class="user">
                  ฉันเห็นด้วย
                </span>
                <span class="ordertitle">
                  <a routerLink="/termsandcondition" routerLinkActive="active">ข้อตกลงการใช้บริการ</a>
                </span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row> -->


  <ion-row>
    <ion-col size="12" class="tabselectpay">
      <ion-row (click)="presentActionSheet()" class="bg">
        <ion-col size="5" class="ion-align-items-center">
          <ion-text class="selecttext">
            วิธีการชำระเงิน
          </ion-text>
        </ion-col>
        <ion-col size="5">
          <ion-text class="select-type-pay ion-text-nowrap">
            {{select}}
          </ion-text>
        </ion-col>
        <ion-col size="2">
          <ion-buttons>
            <ion-button class="arowicon">
              <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="select === 'ผ่อนชำระ'" class="bgwhite">
        <ion-col size="12" *ngFor="let data of downDataList">
          <ion-row class="borderselectdown">
            <ion-col size="12">
              <ion-text class="texthead">
                เงินดาวน์
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let down of data.down_payment">
            <ion-col size="5">
              <ion-text class="paydown">
                {{down.cerrency}}{{down.amount}}
              </ion-text>
            </ion-col>
            <ion-col size="5" class="percent_down2">
              <ion-text class="textpercent_down2">
                {{down.percent_down}}{{down.unit}}
              </ion-text>
            </ion-col>
            <ion-col size="2">
              <ion-buttons (click)="selectDownModal()">
                <ion-button class="iconpercent_down2">
                  <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-col>
          </ion-row>
          <ion-row class="borderselectdown">
            <ion-col size="12">
              <span class="texthead">
                จ่ายรายเดือน (ค่าบริการรายเดือน{{data.period_service}} {{data.cerrency}} รวม)
              </span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <span class="installment">
                {{data.cerrency}}{{data.installment_amount}}
              </span>
              <span class="quantity">
                {{data.installment_period}}{{data.unit}}
              </span>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-row *ngIf="data.period_option && data.period_option.length">
                <ion-col class="per" size="2.5" text-center *ngFor="let period of data.period_option"
                  [class.ion-col-border]="period._id == percenSelected" (click)="onUnitClick(period._id)">
                  <ion-icon class="ion-item-percenselected" name="checkbox" *ngIf="period._id == percenSelected">
                  </ion-icon>
                  <span>{{period.period}}{{period.unit}}</span>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>




          <ion-row>
            <ion-col size="12">
              <span>
                <ion-checkbox class="iconcheck" mode="ios" color="danger" checked></ion-checkbox>
              </span>
              <span class="acept">
                ฉันเห็นด้วย
              </span>
              <span>
                <a class="aceptcolor" routerLink="/termsandcondition" routerLinkActive="active">ข้อตกลงการใช้บริการ</a>
              </span>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-grid *ngFor="let cate of cartDataList.carts">

        <!-- <ion-row>
          <ion-col size="12">
            <ion-row class="border">
              <ion-col size="3">
                <ion-icon name="md-appstore" class="icon"></ion-icon>
              </ion-col>
              <ion-col size="6" class="shopname">
                <ion-label class="select">{{cate.shop_name}}</ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="4" *ngFor="let cate of cate.product">
                <div (click)="onOpenlistClick()">
                  <img class="img" [src]="cate.img">
                </div>
              </ion-col>
              <ion-col size="2" *ngIf="cate.total_shop" class="total-product-col">
                <div class="total-product">
                  <ion-text>
                    {{cate.total_shop.amount_product}}
                  </ion-text>
                  <ion-text>
                    {{cate.total_shop.unit}}
                  </ion-text>
                </div>
              </ion-col>
              <ion-col size="2">
                <ion-buttons (click)="paymentlistModal()">
                  <ion-button class="total-product-icon">
                    <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ion-col>

            </ion-row>
            <ion-row class="rowshipping" *ngIf="cate && cate.total_shop">
              <ion-col size="12">
                <ion-row class="bordertop">
                  <ion-col size="9">
                    <ion-text class="text">ค่าจัดส่ง</ion-text>
                  </ion-col>
                  <ion-col size="3">
                    <ion-text class="chipping">{{cate.total_shop.currency}}{{cate.total_shop.shipingfree}}</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row class="bordertop">
                  <ion-col size="4">
                    <ion-label class="text">หมายเหตุ</ion-label>
                  </ion-col>
                  <ion-col size="8">
                    <ion-input class="input" placeholder="ฝากข้อความ"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row class="bordertop">
                  <ion-col size="9">
                    <ion-text class="text">ยอดรวม</ion-text>
                  </ion-col>
                  <ion-col size="3">
                    <ion-text class="label-right2">{{cate.total_shop.currency}}{{cate.total_shop.total_price}}
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row> -->

        <ion-row>
          <ion-col size="12">
            <ion-row class="border">
              <ion-col size="3">
                <ion-icon name="md-appstore" class="icon"></ion-icon>
              </ion-col>
              <ion-col size="6" class="shopname">
                <ion-label class="select">{{cate.shop_name}}</ion-label>
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let cate of cate.items">

              <ion-col size="4">
                <div (click)="onOpenlistClick()">
                  <img class="img" [src]="cate.img">
                </div>
              </ion-col>
              <ion-col size="8">
                <ion-row>
                  <ion-col size="12">
                    <ion-text class="phonename">{{cate.name}}</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="12" class="quantity2">
                    <ion-label color="medium ion-text-nowrap">
                      Options:{{cate.color}},{{cate.storage}}
                    </ion-label>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="10">
                    <ion-text class="price2">{{cate.currency}}{{cate.price}}</ion-text>
                  </ion-col>
                  <ion-col size="2">
                    <ion-text class="price3">
                      {{cate.quantity}}
                    </ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="6">
                    <del class="discountprice">{{cate.currency}}{{cate.discount_price}}</del>
                  </ion-col>
                  <ion-col size="6">
                    <span class="discount">
                      {{cate.discount}}
                    </span>
                  </ion-col>
                </ion-row>

              </ion-col>
              <ion-row>
                <ion-col size="12" *ngFor="let item of cate.promotions">
                  <ion-row class="giftrow">
                    <ion-col size="9" class="ion-text-nowrap giftdetail">
                      <ion-text>
                        {{item.gift}} {{item.name}}
                      </ion-text>
                    </ion-col>
                    <ion-col size="3" class="giftdetail2">
                      <ion-text>
                        {{item.quantity}}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>

            </ion-row>

            <ion-row class="rowshipping" *ngIf="cate && cate.total_shop">
              <ion-col size="12">
                <ion-row class="bordertop">
                  <ion-col size="9">
                    <ion-text class="text">ค่าจัดส่ง</ion-text>
                  </ion-col>
                  <ion-col size="3" class="textright">
                    <ion-text class="chipping">{{cate.total_shop.currency}}{{cate.total_shop.shipingfree}}</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row class="bordertop">
                  <ion-col size="4">
                    <ion-label class="text">หมายเหตุ</ion-label>
                  </ion-col>
                  <ion-col size="8">
                    <ion-input class="input" placeholder="ฝากข้อความ"></ion-input>
                  </ion-col>
                </ion-row>
                <ion-row class="bordertop">
                  <ion-col size="9">
                    <ion-text class="text">ยอดรวม</ion-text>
                  </ion-col>
                  <ion-col size="3" class="textright">
                    <ion-text class="label-right2">{{cate.total_shop.currency}}{{cate.total_shop.total_price}}
                    </ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col size="12">
      <ion-grid>
        <ion-row (click)="vouchersModal()">
          <ion-col size="6">
            <ion-text class="text2">บัตรกำนัล</ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-input class="input2" placeholder="ใส่รหัสคูปอง"></ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-buttons>
              <ion-button class="backicon2">
                <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
        <ion-row class="bordertop">
          <ion-col size="7">
            <ion-label class="text2">100 การหักTcoin฿1</ion-label>
          </ion-col>
          <ion-col size="5" class="textright">
            <ion-label>
              <ion-toggle slot="end" name="cherry" color="danger" checked></ion-toggle>
            </ion-label>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-grid>
        <ion-row *ngIf="cartDataList.totalcart">
          <ion-col size="6">
            <ion-text class="total">ยอดรวม ({{cartDataList.totalcart.amount_product}} สินค้า)</ion-text>
          </ion-col>

          <ion-col size="6" class="textright">
            <ion-text class="orders2">{{cartDataList.totalcart.currency}}{{cartDataList.totalcart.total_discount}}
            </ion-text>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="cartDataList.totalcart">
          <ion-col size="6">
            <ion-text class="total">โปรโมชั่น</ion-text>
          </ion-col>
          <ion-col size="6" class="textright">
            <ion-text class="orders">{{cartDataList.totalcart.currency_discount}}{{cartDataList.totalcart.promotion}}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="cartDataList.totalcart">
          <ion-col size="6">
            <ion-text class="total">คูปอง</ion-text>
          </ion-col>
          <ion-col size="6" class="textright">
            <ion-text class="orders3">
              {{cartDataList.totalcart.currency_discount}}{{cartDataList.totalcart.cupon_discount}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="cartDataList.totalcart">
          <ion-col size="6">
            <ion-text class="total">ค่าจัดส่ง</ion-text>
          </ion-col>
          <ion-col size="6" class="textright">
            <ion-text class="orders">{{cartDataList.totalcart.currency}}{{cartDataList.totalcart.shipingfree}}
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>

</ion-content>


<ion-footer *ngIf="select === 'ผ่อนชำระ'">
  <ion-toolbar [class.show-footer]="showToolbar">
    <ion-row *ngFor="let data of downDataList">
      <ion-col size="12">
        <ion-row>
          <ion-col size="12" *ngFor="let item of data.down_payment">
            เงินดาวน์:<span class="stylefont">{{item.cerrency}}{{item.amount}}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            จ่ายรายเดือน:<span
              class="stylefont">{{data.cerrency}}{{data.installment_amount}}</span><span>{{data.installment_period}}{{data.unit}}(รวมค่าธรรมเนียม)</span>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>



<ion-footer class="footer" *ngIf="select === 'ชำระเต็มจำนวนเงิน'">
  <ion-row>
    <ion-col size="12">
      <ion-row *ngIf="cartDataList.totalcart">
        <ion-col size="8">
            <span class="ordertitle">จำนวนเงินที่ต้องชำระ:</span>
            <span class="footterfont2">{{cartDataList.totalcart.currency}}{{cartDataList.totalcart.total_discount}}</span>
        </ion-col>
        <ion-col size="4" (click)="onOrderClick()">
          <section>
            <ion-button expand="full" color="danger">สั่งซื้อสินค้า</ion-button>
          </section>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>