.bgtoolbar {
  --background: rgba(240, 73, 73);
  color: #ffffff !important;
}

.backicon2 {
  width: 28px;
  margin-left: 3px;
  color: #c5bfbf;
  margin-top: -5px;
}

.textright {
  text-align: right;
}

mat-dialog-container {
  padding-top: 50px;
}

.text2 {
  margin-left: 6px;
  font-size: 15px;
}

.input2 {
  margin-top: -8px;
  margin-left: -92px;
  font-size: 15px;
}

ion-content {
  --background: linear-gradient(0deg, rgb(247, 247, 247, 1) 50%, rgba(240, 65, 65, 0.952) 89%);
}

ion-grid {
  margin-top: 0rem;
  background-color: white;
  margin-bottom: 10px;
}

ion-toggle {
  margin-left: 54px;
}

.bordertop {
  border-top: 1px solid;
  border-color: #e4e1e14d;
  height: 44px;
}

ion-header {
  display: block;
  position: relative;
  -ms-flex-order: -1;
  order: -1;
  width: 100%;
  z-index: 10;
  height: 40px;
}

.tabselectpay {
  margin-top: -16px;
}