.bgtoolbar {
  --background: rgba(240, 73, 73);
  color: #ffffff !important;
}

.ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  --border-width: 0px !important;
  border: 0 !important;
  color: transparent !important;
}

.show-footer {
  --padding-top: 0rem !important;
  --background: #fbf3f1;
  --border-width: 0px !important;
  border: 1px !important;
  color: #070101 !important;
}

.backicon {
  color: #ffffff !important;
  margin-top: -62px;
}

.backicon2 {
  width: 28px;
  margin-left: 3px;
  color: #c5bfbf;
  margin-top: -5px;
}

.border {
  border-bottom: 1px solid;
  border-color: #e4e1e14d;
  height: 36px;
}

.shopname {
  padding-top: 6px;
  font-weight: bold;
  margin-left: -58px;
}

.select {
  font-size: 15px;
  font-weight: bold;
  margin-top: 6px;
  margin-left: 4px;
}

ion-text-nowarp {
  overflow: hidden;
}

.percent_down {
  margin-left: 52px;
}

.textright {
  text-align: right;
}

.selectpading {
  margin-top: 1%;
}

.bg-class {
  --background: linear-gradient(0deg, rgba(255, 255, 255, 1) 24%, rgba(240, 65, 65, 1) 89%);
}

mat-dialog-container {
  padding-top: 50px;

}

.stylefont {
  font-weight: bold;
}

.ion-col-border {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}

.address {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.arow-forwardicon {
  margin-right: -87%;
}

.label-right {
  margin-right: -15rem;
}

.label-right2 {
  margin-left: -5px;
  font-size: 16px;
}

.label-right3 {
  margin-right: -12rem;
}

.select {
  font-size: 14px;
  font-weight: bold;
  margin-top: 7px;
}

.select2 {
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 72, 0);
  margin-top: 7px;
  margin-left: 34px;
}

.button-select {
  width: 28px;
  margin-left: 280px;
  color: #c5bfbf;
  margin-top: -37px;
}

.price {
  padding-inline-start: 2%;
}

.icon {
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.phonename {
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quantity2 {
  font-size: 13px;
  margin-top: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.discount {
  font-size: 13px;
  margin-left: -42px;
}

.discountprice {
  font-size: 13px;
  color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
}

.orders {
  margin-left: 102px;
  font-weight: bold;
}

.orders2 {
  font-weight: bold;
}

.orders3 {
  margin-left: 109px;
  font-weight: bold;
}

.price2 {
  font-size: 15px;
}

.price3 {
  font-size: 13px;
  font-weight: bold;
}

.colgif {
  margin-top: -23px;
}

.discount_price {
  font-size: 13px;
  margin-top: -2px;
  color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
}

.ion-item-percenselected {
  font-size: 2rem;
  color: red;
  margin-top: -0.65rem;
  padding-inline-start: 55%;
  padding-top: 2%;
  position: absolute;
}

.giftdetail {
  font-size: 12px;
  color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
}

.giftdetail2 {
  margin-right: 0px;
  font-size: 13px;
  text-align: right;
}

.giftrow {
  height: 14px;
}

.text {
  margin-left: -3px;
  font-size: 15px;
}

.text2 {
  margin-left: 6px;
  font-size: 15px;
}

.chipping {
  margin-left: 36px;
  font-size: 16px;
}

.input {
  margin-top: -8px;
  margin-left: -37px;
  font-size: 15px;
}

.input2 {
  margin-top: -8px;
  margin-left: -92px;
  font-size: 15px;
}

ion-card {
  background-color: white;
}

ion-content {
  --background: linear-gradient(0deg, rgb(247, 247, 247, 1) 50%, rgba(240, 65, 65, 0.952) 89%);
}

ion-grid {
  margin-top: 0rem;
  background-color: white;
  margin-bottom: 10px;
}

ion-toggle {
  margin-left: 54px;
}

.image {
  width: 15px;
}

.footer {
  background-color: white;
  height: 66px;
}

.img {
  max-width: 107%;
  border: 0;
  margin-left: -13px;
  height: 107px;
}

.bordertop {
  border-top: 1px solid;
  border-color: #e4e1e14d;
  height: 44px;
}

.rowshipping {
  margin-bottom: -14px;
}

.total {
  font-size: 15px;
  color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
}

ion-header {
  display: block;
  position: relative;
  -ms-flex-order: -1;
  order: -1;
  width: 100%;
  z-index: 10;
  height: 40px;
}

.tabselectpay {
  margin-top: -16px;
}

.total-product {
  margin-right: -26px;
  font-size: 14px;
}

.total-product-col {
  margin-top: 40px;
}

.total-product-icon {
  width: 28px;
  margin-left: 17px;
  color: #c5bfbf;
}

.footterfont {
  font-size: 18px;
  color: #ff4800;
  font-weight: bold;
}

.footterfont2 {
  font-size: 18px;
  color: #ff4800;
  font-weight: bold;
}

.font-total-footter {
  font-size: 15px;
}

.amount-pay {
  margin-top: 17px;
}

.credit-use {
  font-size: 13px;
  font-weight: 100;
}