<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBackClick()">
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ยืนยันการสั่งซ้ื้อ</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-row *ngIf="addressData && addressData.address">
    <ion-col size="10">
      <ion-row>
        <ion-col size="12">
          <p class="address">
            {{addressData.address.receiveraddress}} {{addressData.address.subdistric}}
            {{addressData.address.distric}} {{addressData.address.province}}
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <span class="user">
            {{addressData.address.receiver}}
          </span>
          <span class="phoneprice">
            {{addressData.address.receiverphone}}
          </span>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="2">
      <ion-buttons>
        <ion-button class="arow-forward">
          <ion-icon mode="ios" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
  <ion-buttons *ngIf="!addressData">
    <ion-button slot="start" class="add">
      <ion-icon mode="ios" name="add"></ion-icon>
    </ion-button>
    <ion-text class="add">โปรดเพิ่มที่อยู่</ion-text>
  </ion-buttons>

  <ion-card>

    <ion-list>
      <ion-item (click)="presentActionSheet()">
        <ion-label>วิธีการชำระเงิน {{select}}</ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="icon-only" name="ios-arrow-forward" ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>

    <ion-row *ngIf="select === 'ผ่อนชำระ'">
      <ion-col size="12">
        <ion-list-header>
          <ion-text class="select">
            เงินดาวน์
          </ion-text>
        </ion-list-header>

        <ion-item *ngFor="let data of downDataList" (click)="selectDownModal()">
          <ion-label *ngFor="let down of data.down_payment">
            <span class="phonename">
              {{down.cerrency}}{{down.amount}}
            </span>

            <span *ngFor="let down of data.down_payment" class="percent_down">
              {{down.percent_down}}{{down.unit}}
            </span>
          </ion-label>

          <ion-buttons>
            <ion-button slot="end">
              <ion-icon mode="ios" name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-row>
          <ion-col size="12" *ngFor="let data of downDataList">
            <span class="ordertitle">
              จ่ายรายเดือน (ค่าบริการรายเดือน{{data.period_service}} {{data.cerrency}} รวม)
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" text-center *ngFor="let data of downDataList">
            <ion-text class="installment">
              {{data.cerrency}}{{data.installment_amount}}
            </ion-text>
            <span class="quantity">
              {{data.installment_period}}{{data.unit}}
            </span>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" *ngFor="let data of downDataList">
            <ion-row *ngIf="data.period_option && data.period_option.length">
              <ion-col class="per" size="3" text-center *ngFor="let period of data.period_option"
                [class.ion-col-border]="period._id == percenSelected" (click)="onPercenClick(period._id)">
                <ion-icon class="ion-item-percenselected" name="checkbox" *ngIf="period._id == percenSelected">
                </ion-icon>
                <span>
                  {{period.period}}{{period.unit}}
                </span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col size="12">
            <span>
              <ion-checkbox class="iconcheck" mode="ios" color="danger" checked></ion-checkbox>
            </span>
            <span class="user">
              ฉันเห็นด้วย
            </span>
            <span class="ordertitle">
              <a routerLink="/termsandcondition" routerLinkActive="active">ข้อตกลงการใช้บริการ</a>
            </span>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>

  </ion-card>



  <ion-card>

    <ion-item>
      <ion-icon class="icon" name="md-appstore"></ion-icon>
      <ion-label *ngFor="let cart of cartDataList" class="select">{{cart.shop_name}}</ion-label>
    </ion-item>

    <ion-row>
      <ion-col size="12">
        <ion-row *ngFor="let cate of cartDataList">
          <ion-col size="4" *ngFor="let cate of cate.product">
            <div (click)="onOpenlistClick()">
              <img [src]="cate.img">
            </div>
          </ion-col>

          <ion-col size="8" *ngFor="let cate of cate.product">
            <ion-row>
              <ion-col size="12">
                <ion-text class="phonename">{{cate.name}}</ion-text>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="8">
                <ion-label color="medium" class="quantity">
                  Options:{{cate.color}},{{cate.storage}}
                </ion-label>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="10">
                <ion-text class="phoneprice">{{cate.currency}}{{cate.price}}</ion-text>
              </ion-col>
              <ion-col size="2">
                <span class="quantity">
                  {{cate.quantity}}
                </span>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="6">
                <del class="quantity">{{cate.currency}}{{cate.discount_price}}</del>
              </ion-col>
              <ion-col size="6">
                <span class="discount">
                  {{cate.discount}}
                </span>
              </ion-col>
            </ion-row>

          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list *ngFor="let itemdata of cartDataList">
          <ion-item>
            <ion-label>
              <p *ngFor="let item of itemdata.promotions">
                {{item.gift}} {{item.name}}
              </p>
            </ion-label>
            <ion-label class="label-right">
              <p class="quantity" *ngFor="let item of itemdata.promotions">
                {{item.quantity}}
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list *ngFor="let cart of cartDataList">
          <ion-item *ngFor="let pro of cart.product">
            <ion-label>ค่าจัดส่ง</ion-label>
            <ion-label class="label-right">{{pro.currency}}{{pro.chipingfee}}</ion-label>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item>
            <ion-label>หมายเหตุ</ion-label>
            <ion-input placeholder="ฝากข้อความ"></ion-input>
          </ion-item>
        </ion-list>

        <ion-list *ngFor="let cart of cartDataList">
          <ion-item>
            <ion-label>ยอดรวม</ion-label>
            <ion-label class="label-right2" *ngFor="let pro of cart.product">{{pro.currency}}{{pro.price}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-card>
    <ion-row>
      <ion-col size="12">
        <ion-item (click)="vouchersModal()">
          <ion-label>บัตรกำนัล</ion-label>
          <ion-label>
            <ion-input class="cupon" placeholder="ใส่รหัสคูปอง"></ion-input>
          </ion-label>
          <ion-label class="arow-forwardicon">
            <ion-icon mode="ios" name="arrow-forward"></ion-icon>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            100 หักTcoin฿1
          </ion-label>
          <ion-label class="label-right3">
            <ion-toggle slot="start" name="cherry" color="danger" checked></ion-toggle>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>

    <ion-row *ngFor="let cart of cartDataList">
      <ion-col size="6" *ngFor="let pro of cart.product">
        <ion-text class="ordertitle">ยอดรวม ({{pro.quantity}} สินค้า)</ion-text>
      </ion-col>

      <ion-col size="6" *ngFor="let pro of cart.product">
        <ion-text class="orders">{{pro.currency}}{{pro.price}}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let cart of cartDataList">
      <ion-col size="6" *ngFor="let pro of cart.product">
        <ion-text class="ordertitle">โปรโมชั่น</ion-text>
      </ion-col>
      <ion-col size="6" *ngFor="let pro of cart.product">
        <ion-text class="order"> {{pro.currency_coupon}} {{pro.coupon}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let cart of cartDataList">
      <ion-col size="6" *ngFor="let pro of cart.product">
        <ion-text class="ordertitle">ค่าจัดส่ง</ion-text>
      </ion-col>
      <ion-col size="6" *ngFor="let pro of cart.product">
        <ion-text class="orders">{{pro.currency}} {{pro.chipingfee}}</ion-text>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>


<ion-footer *ngIf="select === 'down'">

  <ion-row *ngFor="let data of downDataList">
    <ion-col size="12">
      <ion-row>
        <ion-col size="12" *ngFor="let item of data.down_payment">
          เงินดาวน์:{{item.cerrency}}{{item.amount}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          จ่ายรายเดือน:{{data.cerrency}}{{data.installment_amount}}x{{data.installment_period}}{{data.unit}}(รวมค่าธรรมเนียม)
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>


<ion-footer>
  <ion-row>
    <ion-col size="12">
      <ion-row *ngFor="let cate of cartDataList">
        <ion-col size="8" *ngFor="let cate of cate.product">
          <span class="ordertitle">จำนวนเงินที่ต้องชำระ:</span>
          <span class="price">{{cate.currency}}{{cate.price}}</span>
        </ion-col>
        <ion-col size="4" (click)="onOrderClick()">
          <section>
            <ion-button expand="full" color="danger">สั่งซื้อสินค้า</ion-button>
          </section>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>