.show-background {
  --padding-top: 0rem !important;
  --background: #f04141;
  --ion-color-base: #f04141 !important;
  --border-width: 0px !important;
  border: 1px !important;
  color: #ffffff !important;
}
ion-toolbar {
  --padding-top: 0rem !important;
  --background: transparent;
  --ion-color-base: transparent !important;
  --border-width: 0px !important;
  border: 0 !important;
  color: transparent !important;
}
.ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
  --border-width: 0px !important;
  border: 0 !important;
  color: transparent !important;
}
.show-footer {
  --padding-top: 0rem !important;
  --background: #ffeae4;
  --border-width: 0px !important;
  border: 1px !important;
  color: #070101 !important;

}
.backicon{
  color: #ffffff !important;
  margin-top: -62px;
}
.backicon2{
  width: 28px;
  margin-left: 3px;
  color: #c5bfbf;
  margin-top: -5px;
}
.border{
  border-bottom: 1px solid;
  border-color:  rgb(194, 193, 193);;
  height: 36px;
}
.shopname{
  padding-top: 6px;
  font-weight: bold;
  margin-left: -58px;
}
.select {
  font-size: 15px;
  font-weight: bold;
  margin-top: 6px;
  margin-left: 4px;
}
ion-text-nowarp{
  overflow: hidden;
}

.percent_down{
  margin-left: 52px;
}
.paydown{
  font-size: 20px;
  font-weight: bold;
}

ion-checkbox {
  width: 5%;
  height: 6%;
}
.address{
  margin-top: -1%;
}
.nameaddress{
  margin-top: -5%;
}

.selectpading{
  margin-top:1%
}
.bg-class{
  --background: linear-gradient(0deg, rgba(255,255,255,1) 24%, rgba(255, 81, 0, 0.829) 89%);
}
.bg-card{
  background-color: white;
}

.percent_down {
  padding-inline-start: 63%;
  font-size: 13px;
  margin-left: 15px;
}
.percent_down2 {
  margin-left: 15px;
}
.stylefont{
  font-weight: bold;
}

.select-down{
  width: 28px;
    color: #c5bfbf;
    margin-left: 272px;
    margin-top: -47px;
}
.per {
  line-height: 2.5rem;
  padding: 0 0.16rem;
  color: #333;
  font-size: 0.9rem;
  margin-right: 0.9rem;
  margin-bottom: 0.24rem;
  white-space: nowrap;
}
.selectpay{
  width: 85px;
  font-size: 13px;
  height: 45px;
  color: #333;
}
.selectpaybg{
  background-color: #fff5f1;
 
}
.arow-forward {
  position: absolute;
  right: 0px;
  top: 0%;
  color: #fdf9f9;
}
.address {
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.arow-forwardicon {
  margin-right: -87%;
}
.label-right {
  margin-right: -15rem;
}
.label-right2 {
  margin-left: -5px;
  font-size: 16px;
}
.label-right3 {
  margin-right: -12rem;
}
.address-magin{
  margin-top: -25px;
}
.add {
  font-size: 22px;
  font-weight: bold;
  padding-top: 0.7rem;
}
.select {
  font-size: 14px;
  font-weight: bold;
  margin-top: 7px;
}
.select2{
  font-size: 14px;
  font-weight: bold;
  color: rgb(255, 72, 0);
  margin-top: 7px;
  margin-left: 34px;
}
.button-select{
  width: 28px;
  margin-left: 280px;
  color: #c5bfbf;
  margin-top: -37px;
}
.user {
  font-size:16px;
  font-weight: bold;
  color: white;
}
.price {
  padding-inline-start: 2%;
}
.icon {
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}
.phonename {
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.phoneprice {
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.quantity {
  font-size: 13px;
  margin-top: -10px;
}
.quantity2 {
  font-size: 13px;
  margin-top: -10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display:block;
}
.discount {
  font-size: 13px;
  margin-left: -42px;
}
.discountprice{
  font-size: 13px;
  color: rgba(var(--ion-text-color-rgb,0,0,0),.4);
}
.orders {
  margin-left: 102px;
  font-weight: bold;
}
.orders2 {
  margin-left: 69px;
  font-weight: bold;
}
.orders3 {
  margin-left: 109px;
  font-weight: bold;
}
.select-type-pay{
  margin-left: 59px;
  overflow: hidden;
  text-overflow: ellipsis;
  display:block;
}

.price2{
  font-size: 15px;
}
.price3{
  font-size: 13px;
  font-weight: bold;
}
.colgif{
  margin-top: -23px;
}
.installment {
  font-size: 22px;
  font-weight: bold;
}
.iconcheck {
  height: 75%;
  width: 7%;
}
.ion-col-border {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}
.discount_price{    
  font-size: 13px;
  margin-top: -2px;
  color: rgba(var(--ion-text-color-rgb,0,0,0),.4);
}
.ion-item-percenselected {
  font-size: 2rem;
  color: red;
  margin-top: -0.65rem;
  padding-inline-start: 55%;
  padding-top: 2%;
  position: absolute;
}
.giftdetail{
  font-size: 12px;
  color: rgba(var(--ion-text-color-rgb,0,0,0),.4);
}
.giftdetail2{
  margin-left: 39px;
  font-size: 13px;
  font-weight: bold;
}
.text{
  margin-left: -3px;
  font-size: 15px;
}
.text2{
  margin-left: 6px;
  font-size: 15px;
}


.chipping{
  margin-left: 36px;
  font-size: 16px;
}
.input{
  margin-top: -8px;
    margin-left: -37px;
    font-size: 15px;
}
.input2{
  margin-top: -8px;
    margin-left: -92px;
    font-size: 15px;
}
ion-card{
  background-color: white;
}

ion-content {
  --background: linear-gradient(0deg, rgb(240, 236, 236) 10%, rgba(240, 91, 65, 0.952) 89%);
}
ion-grid{
  margin-top: 0rem;
  background-color: white;
}
ion-toggle{
  margin-left: 54px;
}
.footer{
  background-color: white;
  height: 66px;
}
.texthead{
font-size: 14px;
font-weight: 300;
color: rgb(173, 173, 173);
}
.img{
  max-width: 107%;
    border: 0;
    margin-left: -13px;
    height: 107px;
}
.bordertop{
  border-top: 1px solid;
  border-color:  rgb(194, 193, 193);;
  height: 44px;
}
.borderselectdown{
  border-top: 1px solid;
  border-color:  rgb(194, 193, 193);;
  height: 30px;
}
.rowshipping{
  margin-bottom: -14px;
}
.percentdown{
  margin-left: 52px;
  font-size: 15px;
}
.total{
  font-size:15px;
  color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
}