<ion-header>
  <ion-toolbar>
    <ion-buttons class="backbutton" slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon slot="icon-only" mode="ios" name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Oline Banking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="12">
      <ion-grid>
        <ion-row class="border">
          <ion-col size="6">
            <span class="font-conten">{{payforData.limit}} :</span>
          </ion-col>
          <ion-col size="6" text-end>
            <span class="font-conten">{{payforData.cerren}} {{payforData.amount}}</span>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of payforData.order_amount">
          <ion-col size="6">
            <span>{{item.name}}</span>
          </ion-col>
          <ion-col size="6" text-end>
            <span class="font-conten">{{item.cerrency}} {{item.amount_price}}</span>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of payforData.down_payment">
          <ion-col size="6">
            <span>{{item.name}}</span>
          </ion-col>
          <ion-col size="6" text-end>
            <span class="font-conten">{{item.cerrency}} {{item.amount}}</span>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let item of payforData.monthly_payment">
          <ion-col size="6">
            <span>{{item.name}}</span>
          </ion-col>
          <ion-col size="6" text-end>
            <span class="font-conten">{{item.cerrency}} {{item.installment_amount}}</span>
            <span> {{item.installment_period}} {{item.unit}}</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item no-padding *ngFor="let item of onlineBankingData.Bank">
              <img class="icon-image" [src]="item.image">
              <ion-label>
                <ion-text class="font-padding">{{item.Bankname}}</ion-text>
              </ion-label>
              <ion-note slot="end">
                <ion-checkbox mode="ios"></ion-checkbox>
              </ion-note>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item no-padding>
              <img class="icon-image" [src]="onlineBankingData.image">
              <ion-label>
                <ion-text class="font-padding">{{onlineBankingData.Bankname}}</ion-text>
              </ion-label>
              <ion-note slot="end">
                <ion-checkbox mode="ios"></ion-checkbox>
              </ion-note>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-row>
        <ion-col size="4" text-end>
          <div>
            <img class="img-shield" slot="icon-only" src="https://image.flaticon.com/icons/png/512/1161/1161388.png">
          </div>
        </ion-col>
        <ion-col size="8" text-start>
          <p>การป้องกันการชำระเงิน</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>