<ion-header>
  <ion-toolbar>
    <ion-buttons class="backbutton" slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon slot="icon-only" mode="ios" name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ShareData.share_title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <p text-center>{{ShareData.share_subtitle}}</p>
      <ion-row>
        <ion-col text-center size="3" *ngFor="let item of ShareData.shares">
          <img class="imageshare" [src]="item.image" (click)="onShareSocial(item.id)">
          <p>{{item.name}}</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-buttons>
            <ion-button class="btn-share" (click)="onColse()">
              ปิด
            </ion-button>
          </ion-buttons>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
</ion-content>