.imageshare {
  width: 80%;
}
.btn-share{
    width: 99%;
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    height: 40px;
}
