<ion-list>
    <ion-item (click)="onToMePage()">
      <ion-label>ข้อมูลของฉัน</ion-label>
      <ion-buttons mode="ios" slot="end">
        <ion-button>
          <ion-icon mode="ios" slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="languageModal()">
      <ion-label>ภาษา</ion-label>
      <ion-buttons mode="ios" slot="end">
        <ion-button>
          <ion-icon mode="ios" slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item (click)="aboutModal()">
      <ion-label>เกี่ยวกับ App</ion-label>
      <ion-buttons mode="ios" slot="end">
        <ion-button>
          <ion-icon mode="ios" slot="icon-only" name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  
    <ion-item class="ion-text-center" (click)="onToLogout()">
        <ion-label color="danger">ออกจากระบบ</ion-label>
      </ion-item>
  
  </ion-list>