<ion-header>
  <ion-toolbar>
    <ion-buttons class="backbutton" slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon slot="icon-only" mode="ios" name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>โปรโมชั่น</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item no-padding class="item-border-right" *ngFor="let itemimage of PromotionData"
          (click)="onGifts(itemimage._id)">
          <ion-thumbnail slot="start">
            <img [src]="itemimage.image">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h3>{{itemimage.name}}</h3>
            <p>{{itemimage.quantity}}</p>
          </ion-label>
          <ion-buttons text-end>
            <ion-button>
              <ion-icon slot="icon-only" name="ios-arrow-forward"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>