ion-toolbar {
    // padding-top: 0.6rem !important;
    --background: transparent;
    --ion-color-base: transparent !important;
    color: #ffffff;
}

ion-chip {
    background: transparent;
    border: 2px solid;
    border-color: white;
    color: white;
    margin-top: 20px;
}

.show-toolbar {
    --background: #f25454;
    --ion-color-base: #f25454 !important;
}

.content-header-style {
    background-image: url('../../assets/images/credit/creditHead.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
    // margin-top: -45px;
    padding-top: 80px;
    padding-bottom: 65px;
    position: relative;
    top: -56px;
}

.menu-header {
    margin-top: -115px;
}

.display-member {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.point-size {
    font-size: 50px;
}

.menu-header-style {
    padding: 8px;
    background-color: white;
}

.menu-header-line {
    border-right: 1px solid;
    border-color: lightgrey;
}

.img-size-menu {
    height: 100px;
}

.font-title-header {
    font-size: 16px;
    font-weight: bold;
}

.font-title-subheader {
    font-size: 13px;
    color: lightslategrey;
}

.font-card-header {
    font-size: 15px;
    font-weight: bold;
}

.font-card-subheader {
    font-size: 13px;
    color: lightslategrey;
}