/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.mat-dialog-container {
  padding-bottom: 10px !important;
}

// :root {
//   --ion-background-color:       #fafafa;
// }

.payment-modal-css {
  position: absolute;
  overflow: hidden;
  max-width: 375px;
  border-radius: 0px;
  width: 55vh;
  height: 80vh !important;
  top: 0;
  bottom: -20%;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  background-color: #efefef;
}
.vouchers-modal-css {
  position: absolute;
  overflow: hidden;
  max-width: 375px;
  border-radius: 0px;
  width: 55vh;
  height: 80vh !important;
  top: 0;
  bottom: -20%;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  background-color: #efefef;
}
.promotion-modal-css {
  position: absolute;
  overflow: hidden;
  max-width: 375px;
  border-radius: 0px;
  width: 55vh;
  height: 80vh !important;
  top: 0;
  bottom: -20%;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  background-color: #efefef;
}
.tcoin-modal-css {
  position: absolute;
  overflow: hidden;
  max-width: 375px;
  border-radius: 0px;
  width: 55vh;
  height: 80vh !important;
  top: 0;
  bottom: -20%;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  background-color: #efefef;
}
.warranty-modal-css {
  position: absolute;
  overflow: hidden;
  max-width: 375px;
  border-radius: 0px;
  width: 55vh;
  height: 80vh !important;
  top: 0;
  bottom: -20%;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  background-color: #efefef;
}
.specification-modal-css {
  position: absolute;
  overflow: hidden;
  max-width: 375px;
  border-radius: 0px;
  width: 55vh;
  height: 80vh !important;
  top: 0;
  bottom: -20%;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  background-color: #efefef;
}
.review-modal-css {
  position: absolute;
  overflow: hidden;
  max-width: 375px;
  border-radius: 0px;
  width: 55vh;
  height: 80vh !important;
  top: 0;
  bottom: -20%;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  background-color: #efefef;
}
.imformationSpec-modal-css {
  position: absolute;
  overflow: hidden;
  max-width: 375px;
  border-radius: 0px;
  width: 55vh;
  height: 80vh !important;
  top: 0;
  bottom: -20%;
  left: 0;
  right: 0;
  margin: auto;
  border: 0;
  box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
  background-color: #efefef;
}
