ion-card {
    -webkit-margin-start: 1px;
    margin-inline-start: 1px;
    -webkit-margin-end: 1px;
    margin-inline-end: 1px;
    background-color: #ffff;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  ion-card-content {
    padding: 0.4rem;
  }
  
  ion-card-title {
    white-space: nowrap;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  ion-card-subtitle {
    font-size: 12px;
  }
  
  strong {
    color: #000000;
  }
  
  del {
    padding-left: 0.3rem;
  }
  
  span {
    font-size: 15px;
    color: red;
  }
  
  small {
    font-size: 12px;
  }
  
  ion-chip {
    background-color: #ff5a02;
    color: white;
  }
  
  img {
    margin-top: -20%;
  }
  .image_size {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
  }
  