ion-toolbar {
  // padding-top: 0.6rem !important;
  --background: transparent;
  --ion-color-base: transparent !important;
  color: #ffffff;
}

// ion-slides{
//   height: 200px;
// }

ion-grid {
  margin-top: 0.5rem;
  background-color: white;
}

ion-content {
  --padding-top: -100px !important;
  --background: rgb(241, 235, 235) !important;
}
.producttext {
  font-weight: bold;
}


.sc-ion-searchbar-ios-h {
  --icon-color: #ece8e8;
  --background: rgba(241, 235, 235, 0.42) !important;
  --color: #ece8e8 !important;
}

.show-background {
  --background: #f25454;
  --ion-color-base: #f25454 !important;
}
.slide {
  padding-top: 70px;
  padding-left: 15px;
  padding-right: 15px;
}

.shotcut {
  width: 70%;
}



