<ion-header>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-searchbar class="searchbar-padding" slot="start" placeholder="Enter item keyword" (click)="SearchModal()">
    </ion-searchbar>
    <ion-buttons class="btn-icon-padding" slot="end">
      <ion-button>
        <ion-icon slot="icon-only" mode="ios" color="medium" src="https://image.flaticon.com/icons/svg/126/126501.svg">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  
  <ion-slides pager="ios" #slider>
    <ion-slide *ngFor="let item of homeDataList">
      <div [style.background-color]="item.background_color">
        <img class="slide" [src]="item.image" />
      </div>
    </ion-slide>
  </ion-slides>

  <ion-row>
    <ion-col size="12" class="ion-no-margin ion-no-padding" *ngFor="let blockitem of cateProductHomeData">
      <app-product-list-block [recivedata]="blockitem"></app-product-list-block>
    </ion-col>
  </ion-row>

  <app-product-general-reccomment>
    <app-product-list class="ten" *ngFor="let reccomment of homeReccommentData" [recivedata]="reccomment.products"
    (onProductClick)="onProductClick($event)"></app-product-list>
  </app-product-general-reccomment>

</ion-content>