<ion-header>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-searchbar slot="start" placeholder="Enter item keyword"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon color="light" slot="icon-only" name="ios-chatboxes"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-slides pager="ios" #slider>
    <ion-slide>
      <div [style.background-color]="'#f84300'">
        <img class="slide" src="https://pub.thisshop.com/shop/block/20191111/26579431_1573444687569.png">
      </div>
    </ion-slide>
    <ion-slide>
      <div [style.background-color]="'#000000'">
        <img class="slide" src="https://pub.thisshop.com/shop/block/20191111/21438691_1573455200833.jpg">
      </div>
    </ion-slide>
  </ion-slides>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">xfgdfgdf</ion-col>
    </ion-row>
    <ion-row nowrap class="forecast_container">
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>

      </ion-col>
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">{{ 'HOME.HELLO' | translate}}</ion-col>
    </ion-row>
    <ion-row nowrap class="forecast_container">
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>

      </ion-col>
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">xfgdfgdf</ion-col>
    </ion-row>
    <ion-row nowrap class="forecast_container">
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>

      </ion-col>
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">xfgdfgdf</ion-col>
    </ion-row>
    <ion-row nowrap class="forecast_container">
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>

      </ion-col>
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card>
          <img src="https://pub.thisshop.com/shop/category/01131001/01131001/35febb99e392462a9e3358465d1c8053.jpg">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed>
      <app-cate-product-list [recive_data]="CateProductListData"></app-cate-product-list>
  </ion-grid>

</ion-content>