<ion-header>
  <ion-toolbar [class.show-background]="showToolbar">
    <ion-searchbar slot="start" placeholder="Enter item keyword"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon color="light" slot="icon-only" name="ios-chatboxes"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-slides pager="ios" #slider>
    <ion-slide *ngFor="let item of homeDataList.slides">
      <div [style.background-color]="item.background_color">
        <img class="slide" [src]="item.image" />
      </div>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-row>
          <ion-col size="2.4" style="font-size: 12px;" text-center *ngFor="let item of homeDataList.menus">
            <div>
              <img class="shotcut" [src]="item.icon_menu" />
            </div>
            <ion-text>{{item.name_menu}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col size="12" class="ion-no-margin ion-no-padding" *ngFor="let blockitem of homeDataList.blocks">
      <product-list-block [recivedata]="blockitem"></product-list-block>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h1 class="producttext" text-center>แนะนำ</h1>
        <productlist [recivedata]="homeReccommentData"></productlist>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>