.icon1 {
    height: 50%;
    width: 50%;
}

.icon {
    height: 50%;
    width: 75%;
}

ion-avatar {
    width: 3.5rem;
    height: 3.5rem;
}

.font-more {
    font-size: 0.7rem;
}

.bg-class{
    --background: linear-gradient(0deg, rgba(244,219,208,1) 10%, rgba(240,65,65,1) 89%);
  }

.bg-card{
    background-color: white;
}

ion-toolbar {
    // padding-top: 0.6rem !important;
    --background: transparent;
    --ion-color-base: transparent !important;
    color: #ffffff;
  }

.show-background {
    --background:#f04141;
    --ion-color-base: #f04141 !important;
  }

.bg-name{
    --background: #f04141;
}

.font{
    text-align: center;
    color: white;
    margin-top: -10px;
}

.font-detail{
    margin-top: -10px;
}

ion-card{
    margin: 0px;
    margin-bottom: 8px;
}

.avatar{
    position: absolute;
    top: -17px;
}