ion-toolbar {
  --padding-top: 2rem !important;
  --background: transparent;
  --ion-color-base: transparent !important;
  --border-width: 0px !important;
  border: 0 !important;
  color: transparent !important;
}

.show-background {
  --padding-top: 0rem !important;
  --background: #f04141;
  --ion-color-base: #f04141 !important;
  --border-width: 1px !important;
  border: 1px !important;
  color: #ffffff !important;
}

.icon-header {
  height: 21px;
  width: 21px;
}

ion-content {
  --background: linear-gradient(0deg, rgb(247,247,247,1) 50%, rgba(240, 65, 65, 0.952) 89%);
  --padding-top: -55px;
}

.bg-name {
  --background: transparent;
}

ion-avatar {
  width: 49px;
  height: 49px;
  z-index: 100;
}

ion-card {
  margin: 0px;
  margin-bottom: 8px;
  background-color: white;
}

à¹‰.h2 {
  font-size: 20px;
}

.font-more {
  font-size: 0.7rem;
}

.font {
  text-align: center;
  color: white;
  margin-top: -10px;
}

.font-detail {
  margin-top: -10px;
}

.font-13 {
  font-size: 13px;
}

.more {
  --padding-start: 1.5rem !important;
}

.title-font {
  margin-left: 0.5rem;
  margin-top: 4px;
  font-size: 18px;
  margin-bottom: 5px;
}

.avatar {
  position: absolute;
  top: -17px;
}

.icon1 {
  height: 50%;
  width: 50%;
}

.icon {
  height: 32px;
  width: 32px;
}

.btn-paybill {
  display: flex;
  justify-content: flex-end;
}

.text-price {
  color: #f25454;
  font-weight: bold;
  font-size: 28px;
}

.text-paydate {
  color: #f25454;
}

.margin-row {
  margin-top: -19px;
  margin-bottom: -18px;
}

.btn-pay-radius {
    height: 32px;
    margin-top: 5px;
}