<ion-content>
  <ion-list>
    <ion-item lines="none" (click)="onMessagePageClick()">
      <ion-icon mode="ios" name="ios-chatbubbles"></ion-icon>
      <ion-text class="iconfont-text">ข้อความ</ion-text>
    </ion-item>
    <ion-item lines="none" (click)="onHomePageClick()">
      <ion-icon mode="ios" name="ios-home"></ion-icon>
      <ion-text class="iconfont-text">หน้าหลัก</ion-text>
    </ion-item>
    <ion-item lines="none" (click)="onCallcenterPageClick()">
      <ion-icon mode="ios" name="ios-headset"></ion-icon>
      <ion-text class="iconfont-text">สายด่วน</ion-text>
    </ion-item>
  </ion-list>
</ion-content>