<ion-header>
  <ion-toolbar>
    <ion-buttons class="backbutton" slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon slot="icon-only" name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ผ่อนชำระ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-col>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <span class="pri">
        {{PaymentgiftData.selected.down_amount.currency}}
        {{PaymentgiftData.selected.period_amount.amount_period}}
      </span>
      <span class="unit">
        {{PaymentgiftData.selected.period_amount.period}}
        {{PaymentgiftData.selected.period_amount.unit}}
      </span>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-item" size="12">
      <ion-item-divider lines="none">
        <ion-row>
          <ion-col size="12">
            <ion-row>
              <ion-col size="12">
                <span>
                  {{PaymentgiftData.selected.down_amount.down}}
                </span>
                <span class="subdow">
                  {{PaymentgiftData.selected.down_amount.currency}}
                  {{PaymentgiftData.selected.down_amount.amount_down}}
                </span>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12">
                <span>
                  {{PaymentgiftData.selected.period_amount.monpayment}}
                </span>
                <span class="subdow">
                  {{PaymentgiftData.selected.period_amount.amount_period}}
                </span>
                <span>
                  {{PaymentgiftData.selected.period_amount.inc}}
                </span>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item-divider>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="col-dow" size="12">
      <ion-text class="p-title">{{PaymentgiftData.selected.down_options.down_payment}}</ion-text>
      <ion-row class="top"
        *ngIf="PaymentgiftData.selected.down_options.payment_percent && PaymentgiftData.selected.down_options.payment_percent.length">
        <ion-col class="pay" size="2" text-center
          *ngFor="let itempay of PaymentgiftData.selected.down_options.payment_percent"
          [class.ion-col-border]="itempay._id == percenSelected" (click)="onPercenClick(itempay._id)">
          <ion-icon class="ion-item-percenselected" name="checkbox" *ngIf="itempay._id == percenSelected"></ion-icon>
          {{itempay.rate}} {{itempay.unit}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-text class="p-title">{{PaymentgiftData.selected.period_option.installments}}</ion-text>
      <ion-row class="top"
        *ngIf="PaymentgiftData.selected.period_option.installperiod && PaymentgiftData.selected.period_option.installperiod.length">
        <ion-col class="per" size="3" text-center
          *ngFor="let itemper of PaymentgiftData.selected.period_option.installperiod"
          [class.ion-col-border]="itemper._id == unitSelected" (click)="onUnitClick(itemper._id)">
          <ion-icon class="ion-item-unitselected" name="checkbox" *ngIf="itemper._id == unitSelected"></ion-icon>
          {{itemper.period}} {{itemper.unit}}
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-col>

<ion-footer>
  <ion-grid class="grid-footter">
    <ion-buttons class="btn-center" (click)="onPayClick()">
      <ion-button class="btn-footer">จ่ายเป็นงวด</ion-button>
    </ion-buttons>
  </ion-grid>
</ion-footer>