.pay {
  background-color: #fff5f1;
  color: #f34602;
  line-height: 2.5rem;
  padding: 0 0.16rem;
  color: #333;
  font-size: 0.9rem;
  margin-right: 0.9rem;
  margin-bottom: 0.24rem;
  white-space: nowrap;
}
.per {
  background-color: #fff5f1;
  color: #f34602;
  line-height: 2.5rem;
  padding: 0 0.16rem;
  color: #333;
  font-size: 0.9rem;
  margin-right: 0.9rem;
  margin-bottom: 0.24rem;
  white-space: nowrap;
}
.btn-footer {
  color: antiquewhite;
}
.btn-center {
  display: flex;
  justify-content: center;
  background-color: orangered;
  height: 50px;
}

.pri {
  font-weight: bold;
  font-size: 26px;
  color: orangered;
}
.unit {
  font-size: 20px;
  color: #bbb;
}
.subdow {
  color: orangered;
  font-weight: bold;
}
.p-title {
  font-weight: bold;
}
.top {
  margin-top: 5%;
}

.ion-col-border {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}
.ion-item-percenselected {
  font-size: 2rem;
  color: red;
  margin-top: -0.65rem;
  margin-left: 35%;
  position: absolute;
}
.ion-item-unitselected {
  font-size: 2rem;
  color: red;
  margin-top: -0.65rem;
  margin-left: 50%;
  position: absolute;
}
.col-item {
  padding-left: 15px;
  padding-right: 15px;
}
.col-dow {
  padding-top: 30px;
}
.grid-footter {
  background-color: #fbfbfb;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}
