.add-cart {
  background-color: orange;
}
.buy {
  background-color: orangered;
}
.butcolor {
  color: antiquewhite;
}
.pri {
  font-weight: bold;
  font-size: 26px;
  color: orangered;
}
.ti {
  font-weight: bold;
  font-size: 22px;
}
.unit {
  font-size: 18px;
  color: #bbb;
}
.name {
  font-size: 12px;
}
.selectcolor {
  background-color: #fff5f1;
  line-height: 2.5rem;
  padding: 0 0.16rem;
  color: #333;
  font-size: 0.9rem;
  margin-right: 0.3rem;
  margin-bottom: 0.24rem;
  white-space: nowrap;
}
.ion-col-border {
  border-style: solid;
  border-width: 2px;
  border-color: red;
}
.ion-item-percenselected {
  font-size: 2rem;
  color: red;
  margin-top: -0.7rem;
  margin-left: 2.7rem;
  width: 100%;
  position: absolute;
}
.ion-item-unitselected {
  font-size: 2rem;
  color: red;
  margin-top: -0.7rem;
  margin-left: 4.3rem;
  width: 100%;
  position: absolute;
}
.btn-center {
  display: flex;
  justify-content: center;
  height: 40px;
}
.grid-footter {
  background-color: #fbfbfb;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}
.img-spac {
  width: 100%;
}