<ion-header>
  <ion-toolbar>
    <ion-buttons class="backbutton" slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon slot="icon-only" name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      สเปค
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="4">
      <div>
        <img class="img-spac" [src]="SpecificationgiftData.image">
      </div>
    </ion-col>
    <ion-col size="8">
      <h3 class="pri">
        {{SpecificationgiftData.currency}}
        {{SpecificationgiftData.price}}
      </h3>
      <span class="ti">
        {{SpecificationgiftData.currency}}
        {{SpecificationgiftData.period}}
      </span>
      <span class="unit">
        {{SpecificationgiftData.unit}}
        {{SpecificationgiftData.per}}
      </span>
      <ion-row>
        <ion-col size="12">
          <span>
            <ion-text class="name">{{SpecificationgiftData.color}}</ion-text>
          </span>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <h3>Color</h3>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="SpecificationgiftData.selectcolor && SpecificationgiftData.selectcolor.length">
    <ion-col class="selectcolor" size="4" text-center *ngFor="let item of SpecificationgiftData.selectcolor"
      [class.ion-col-border]="item._id == specColorSelected" (click)="onspecColorClick(item.color,item.image)">
      <ion-icon class="ion-item-percenselected" name="checkbox" *ngIf="item.color == specColorSelected"></ion-icon>
      {{item.color}}
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-grid class="grid-footter">
    <ion-row>
      <ion-col size="6" class="add-cart">
        <ion-buttons class="btn-center">
          <ion-button class="butcolor">
            เพิ่มใส่รถเข็น
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col size="6" class="buy">
        <ion-buttons class="btn-center">
          <ion-button class="butcolor">
            ซื้อทันที
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>