<ion-header>
  <ion-toolbar>
    <ion-buttons class="backbutton" slot="end" (click)="dismiss()">
      <ion-button>
        <ion-icon slot="icon-only" name="ios-close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>บริการ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="col-12-padding" size="12" *ngFor="let item of WarrantygiftData.warranties">
      <p class="title">{{item.title}}</p>
      <p class="sub">{{item.subtitle}}</p>
    </ion-col>
  </ion-row>
</ion-content>