.getcupon {
    border: 1px solid;
    border-color: rgb(194, 193, 193);
    height: 40px;
  }

  .coupon-p{
    position: absolute;
    top: 1px;
    
  }

  .buttonget2 {
    height: 40px;
    font-size: 16px;
  }

  .buttonget {
    padding-top: 0px;
    height: 1px;
  }

  .img-box {
    padding-top: 50px;
    height: 150px;
    width: 120px;
    margin: auto;
    display: block;
  }